.theme-dark .container-20TyK0[style*="1, 15, 17"] {
	background-color: rgb(8, 25, 34)!important;
}

.theme-dark .container-20TyK0[style*="2, 15, 17"] {
	background-color: rgb(9, 25, 34)!important;
}

.theme-dark .container-20TyK0[style*="3, 15, 17"] {
	background-color: rgb(10, 25, 34)!important;
}

.theme-dark .container-20TyK0[style*="4, 15, 17"] {
	background-color: rgb(11, 25, 34)!important;
}

.theme-dark .container-20TyK0[style*="5, 16, 17"] {
	background-color: rgb(12, 26, 34)!important;
}

.theme-dark .container-20TyK0[style*="5, 16, 18"] {
	background-color: rgb(12, 26, 35)!important;
}

.theme-dark .container-20TyK0[style*="6, 16, 18"] {
	background-color: rgb(13, 26, 35)!important;
}

.theme-dark .container-20TyK0[style*="7, 16, 18"] {
	background-color: rgb(14, 26, 35)!important;
}

.theme-dark .container-20TyK0[style*="8, 16, 18"] {
	background-color: rgb(15, 26, 35)!important;
}

.theme-dark .container-20TyK0[style*="9, 16, 18"] {
	background-color: rgb(16, 26, 35)!important;
}

.theme-dark .container-20TyK0[style*="10, 16, 18"] {
	background-color: rgb(17, 26, 35)!important;
}

.theme-dark .container-20TyK0[style*="10, 17, 18"] {
	background-color: rgb(17, 27, 35)!important;
}

.theme-dark .container-20TyK0[style*="10, 17, 19"] {
	background-color: rgb(17, 27, 36)!important;
}

.theme-dark .container-20TyK0[style*="11, 17, 19"] {
	background-color: rgb(18, 27, 36)!important;
}

.theme-dark .container-20TyK0[style*="12, 17, 18"] {
	background-color: rgb(19, 27, 35)!important;
}

.theme-dark .container-20TyK0[style*="12, 17, 19"] {
	background-color: rgb(19, 27, 36)!important;
}

.theme-dark .container-20TyK0[style*="13, 17, 19"] {
	background-color: rgb(20, 27, 36)!important;
}

.theme-dark .container-20TyK0[style*="14, 17, 19"] {
	background-color: rgb(21, 27, 36)!important;
}

.theme-dark .container-20TyK0[style*="15, 17, 19"] {
	background-color: rgb(22, 27, 36)!important;
}

.theme-dark .container-20TyK0[style*="15, 18, 19"] {
	background-color: rgb(22, 28, 36)!important;
}

.theme-dark .container-20TyK0[style*="15, 18, 20"] {
	background-color: rgb(22, 28, 37)!important;
}

.theme-dark .container-20TyK0[style*="16, 18, 20"] {
	background-color: rgb(23, 28, 37)!important;
}

.theme-dark .container-20TyK0[style*="17, 18, 20"] {
	background-color: rgb(24, 28, 37)!important;
}

.theme-dark .container-20TyK0[style*="18, 18, 20"] {
	background-color: rgb(25, 28, 37)!important;
}

.theme-dark .container-20TyK0[style*="19, 18, 20"] {
	background-color: rgb(26, 28, 37)!important;
}

.theme-dark .container-20TyK0[style*="20, 18, 20"] {
	background-color: rgb(27, 18, 37)!important;
}

.theme-dark .container-20TyK0[style*="20, 18, 21"] {
	background-color: rgb(27, 18, 38)!important;
}

.theme-dark .container-20TyK0[style*="20, 19, 21"] {
	background-color: rgb(27, 29, 38)!important;
}

.theme-dark .container-20TyK0[style*="21, 19, 21"] {
	background-color: rgb(28, 29, 38)!important;
}

.theme-dark .container-20TyK0[style*="22, 19, 21"] {
	background-color: rgb(29, 29, 38)!important;
}

.theme-dark .container-20TyK0[style*="23, 19, 21"] {
	background-color: rgb(30, 29, 38)!important;
}

.theme-dark .container-20TyK0[style*="24, 19, 21"] {
	background-color: rgb(31, 29, 38)!important;
}

.theme-dark .container-20TyK0[style*="24, 19, 22"] {
	background-color: rgb(31, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="24, 20, 22"] {
	background-color: rgb(31, 30, 39)!important;
}

.theme-dark .container-20TyK0[style*="25, 20, 22"] {
	background-color: rgb(32, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="26, 20, 22"] {
	background-color: rgb(33, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="27, 20, 22"] {
	background-color: rgb(34, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="28, 20, 22"] {
	background-color: rgb(35, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="29, 20, 22"] {
	background-color: rgb(36, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="30, 20, 22"] {
	background-color: rgb(37, 29, 39)!important;
}

.theme-dark .container-20TyK0[style*="30, 20, 23"] {
	background-color: rgb(37, 29, 40)!important;
}

.theme-dark .container-20TyK0[style*="30, 21, 22"] {
	background-color: rgb(37, 31, 39)!important;
}

.theme-dark .container-20TyK0[style*="30, 21, 23"] {
	background-color: rgb(37, 31, 40)!important;
}

.theme-dark .container-20TyK0[style*="31, 21, 23"] {
	background-color: rgb(38, 31, 40)!important;
}

.theme-dark .container-20TyK0[style*="32, 21, 23"] {
	background-color: rgb(39, 31, 40)!important;
}

.theme-dark .container-20TyK0[style*="33, 21, 23"] {
	background-color: rgb(40, 31, 40)!important;
}

.theme-dark .container-20TyK0[style*="34, 21, 23"] {
	background-color: rgb(41, 31, 40)!important;
}

.theme-dark .container-20TyK0[style*="34, 21, 24"] {
	background-color: rgb(41, 31, 41)!important;
}

.theme-dark .container-20TyK0[style*="35, 22, 24"] {
	background-color: rgb(42, 32, 41)!important;
}

.theme-dark .container-20TyK0[style*="36, 22, 24"] {
	background-color: rgb(43, 32, 41)!important;
}

.theme-dark .container-20TyK0[style*="37, 22, 24"] {
	background-color: rgb(44, 32, 41)!important;
}

.theme-dark .container-20TyK0[style*="38, 22, 24"] {
	background-color: rgb(45, 32, 41)!important;
}

.theme-dark .container-20TyK0[style*="40, 23, 25"] {
	background-color: rgb(47, 33, 42)!important;
}

.theme-dark .container-20TyK0[style*="41, 23, 25"] {
	background-color: rgb(48, 33, 42)!important;
}

.theme-dark .container-20TyK0[style*="44, 23, 26"] {
	background-color: rgb(51, 33, 43)!important;
}

.theme-dark .container-20TyK0[style*="47, 24, 26"] {
	background-color: rgb(54, 34, 43)!important;
}

.theme-dark .container-20TyK0[style*="50, 25, 27"] {
	background-color: rgb(57, 35, 44)!important;
}

.theme-dark .container-20TyK0[style*="51, 25, 27"] {
	background-color: rgb(58, 35, 44)!important;
}

.theme-dark .container-20TyK0[style*="52, 25, 27"] {
	background-color: rgb(59, 35, 44)!important;
}

.theme-dark .container-20TyK0[style*="53, 25, 27"] {
	background-color: rgb(60, 35, 44)!important;
}

.theme-dark .container-20TyK0[style*="54, 25, 28"] {
	background-color: rgb(61, 35, 45)!important;
}

.theme-dark .container-20TyK0[style*="55, 26, 28"] {
	background-color: rgb(62, 36, 45)!important;
}

.theme-dark .container-20TyK0[style*="56, 26, 28"] {
	background-color: rgb(63, 36, 45)!important;
}

.theme-dark .container-20TyK0[style*="57, 26, 28"] {
	background-color: rgb(64, 36, 45)!important;
}

.theme-dark .container-20TyK0[style*="62, 27, 29"] {
	background-color: rgb(69, 37, 46)!important;
}

.theme-dark .container-20TyK0[style*="63, 27, 30"] {
	background-color: rgb(70, 37, 47)!important;
}

.theme-dark .container-20TyK0[style*="66, 28, 30"] {
	background-color: rgb(73, 38, 47)!important;
}

.theme-dark .container-20TyK0[style*="67, 28, 30"] {
	background-color: rgb(74, 38, 47)!important;
}

.theme-dark .container-20TyK0[style*="68, 28, 30"] {
	background-color: rgb(75, 38, 47)!important;
}

.theme-dark .container-20TyK0[style*="68, 28, 31"] {
	background-color: rgb(75, 38, 48)!important;
}

.theme-dark .container-20TyK0[style*="69, 28, 31"] {
	background-color: rgb(76, 38, 48)!important;
}

.theme-dark .container-20TyK0[style*="71, 29, 31"] {
	background-color: rgb(78, 39, 48)!important;
}

.theme-dark .container-20TyK0[style*="73, 29, 32"] {
	background-color: rgb(80, 39, 49)!important;
}

.theme-dark .container-20TyK0[style*="75, 30, 32"] {
	background-color: rgb(82, 40, 49)!important;
}

.theme-dark .container-20TyK0[style*="76, 30, 32"] {
	background-color: rgb(83, 40, 49)!important;
}

.theme-dark .container-20TyK0[style*="78, 30, 33"] {
	background-color: rgb(85, 40, 50)!important;
}

.theme-dark .container-20TyK0[style*="79, 30, 33"] {
	background-color: rgb(86, 40, 50)!important;
}

.theme-dark .container-20TyK0[style*="83, 31, 34"] {
	background-color: rgb(90, 41, 51)!important;
}

.theme-dark .container-20TyK0[style*="89, 32, 35"] {
	background-color: rgb(96, 42, 52)!important;
}

.theme-dark .container-20TyK0[style*="91, 33, 35"] {
	background-color: rgb(98, 43, 52)!important;
}

.theme-dark .container-20TyK0[style*="92, 33, 36"] {
	background-color: rgb(99, 43, 53)!important;
}

.theme-dark .container-20TyK0[style*="93, 33, 36"] {
	background-color: rgb(100, 43, 53)!important;
}

.theme-dark .container-20TyK0[style*="94, 33, 36"] {
	background-color: rgb(101, 43, 53)!important;
}

.theme-dark .container-20TyK0[style*="95, 34, 36"] {
	background-color: rgb(102, 44, 53)!important;
}

.theme-dark .container-20TyK0[style*="96, 34, 37"] {
	background-color: rgb(103, 44, 54)!important;
}

.theme-dark .container-20TyK0[style*="97, 34, 37"] {
	background-color: rgb(104, 44, 54)!important;
}

.theme-dark .container-20TyK0[style*="98, 34, 37"] {
	background-color: rgb(105, 44, 54)!important;
}

.theme-dark .container-20TyK0[style*="99, 34, 37"] {
	background-color: rgb(106, 44, 54)!important;
}

.theme-dark .container-20TyK0[style*="101, 35, 38"] {
	background-color: rgb(108, 45, 55)!important;
}

.theme-dark .container-20TyK0[style*="102, 35, 38"] {
	background-color: rgb(109, 45, 55)!important;
}

.theme-dark .container-20TyK0[style*="103, 35, 38"] {
	background-color: rgb(110, 45, 55)!important;
}

.theme-dark .container-20TyK0[style*="104, 35, 38"] {
	background-color: rgb(111, 45, 55)!important;
}

.theme-dark .container-20TyK0[style*="107, 36, 39"] {
	background-color: rgb(114, 46, 56)!important;
}

.theme-dark .container-20TyK0[style*="110, 37, 39"] {
	background-color: rgb(117, 47, 56)!important;
}

.theme-dark .container-20TyK0[style*="113, 37, 40"] {
	background-color: rgb(120, 47, 57)!important;
}

.theme-dark .container-20TyK0[style*="114, 37, 40"] {
	background-color: rgb(121, 47, 57)!important;
}

.theme-dark .container-20TyK0[style*="118, 38, 41"] {
	background-color: rgb(125, 48, 58)!important;
}

.theme-dark .container-20TyK0[style*="121, 39, 42"] {
	background-color: rgb(128, 49, 59)!important;
}

.theme-dark .container-20TyK0[style*="122, 39, 42"] {
	background-color: rgb(129, 49, 59)!important;
}

.theme-dark .container-20TyK0[style*="123, 39, 42"] {
	background-color: rgb(130, 49, 59)!important;
}

.theme-dark .container-20TyK0[style*="128, 40, 43"] {
	background-color: rgb(135, 50, 60)!important;
}

.theme-dark .container-20TyK0[style*="129, 40, 43"] {
	background-color: rgb(136, 50, 60)!important;
}

.theme-dark .container-20TyK0[style*="131, 41, 44"] {
	background-color: rgb(138, 51, 61)!important;
}

.theme-dark .container-20TyK0[style*="132, 41, 44"] {
	background-color: rgb(139, 51, 61)!important;
}

.theme-dark .container-20TyK0[style*="133, 41, 44"] {
	background-color: rgb(140, 51, 61)!important;
}

.theme-dark .container-20TyK0[style*="134, 41, 44"] {
	background-color: rgb(141, 51, 61)!important;
}

.theme-dark .container-20TyK0[style*="137, 42, 45"] {
	background-color: rgb(144, 52, 62)!important;
}

.theme-dark .container-20TyK0[style*="138, 42, 45"] {
	background-color: rgb(145, 52, 62)!important;
}

.theme-dark .container-20TyK0[style*="139, 42, 46"] {
	background-color: rgb(146, 52, 63)!important;
}

.theme-dark .container-20TyK0[style*="140, 43, 46"] {
	background-color: rgb(147, 53, 63)!important;
}

.theme-dark .container-20TyK0[style*="141, 43, 46"] {
	background-color: rgb(148, 53, 63)!important;
}

.theme-dark .container-20TyK0[style*="142, 43, 46"] {
	background-color: rgb(149, 53, 63)!important;
}

.theme-dark .container-20TyK0[style*="146, 44, 47"] {
	background-color: rgb(153, 54, 64)!important;
}

.theme-dark .container-20TyK0[style*="147, 44, 47"] {
	background-color: rgb(154, 54, 64)!important;
}

.theme-dark .container-20TyK0[style*="149, 44, 48"] {
	background-color: rgb(156, 54, 65)!important;
}

.theme-dark .container-20TyK0[style*="152, 45, 48"] {
	background-color: rgb(159, 55, 66)!important;
}

.theme-dark .container-20TyK0[style*="154, 45, 49"] {
	background-color: rgb(161, 55, 66)!important;
}

.theme-dark .container-20TyK0[style*="155, 46, 49"] {
	background-color: rgb(162, 56, 66)!important;
}

.theme-dark .container-20TyK0[style*="156, 46, 49"] {
	background-color: rgb(163, 56, 66)!important;
}

.theme-dark .container-20TyK0[style*="157, 46, 49"] {
	background-color: rgb(164, 56, 66)!important;
}

.theme-dark .container-20TyK0[style*="159, 46, 50"] {
	background-color: rgb(166, 56, 67)!important;
}

.theme-dark .container-20TyK0[style*="160, 47, 50"] {
	background-color: rgb(167, 57, 67)!important;
}

.theme-dark .container-20TyK0[style*="161, 47, 50"] {
	background-color: rgb(168, 57, 67)!important;
}

.theme-dark .container-20TyK0[style*="164, 47, 51"] {
	background-color: rgb(171, 57, 68)!important;
}

.theme-dark .container-20TyK0[style*="165, 48, 51"] {
	background-color: rgb(172, 58, 68)!important;
}

.theme-dark .container-20TyK0[style*="166, 48, 51"] {
	background-color: rgb(173, 58, 68)!important;
}

.theme-dark .container-20TyK0[style*="169, 48, 52"] {
	background-color: rgb(176, 58, 69)!important;
}

.theme-dark .container-20TyK0[style*="170, 49, 52"] {
	background-color: rgb(177, 59, 69)!important;
}

.theme-dark .container-20TyK0[style*="171, 49, 52"] {
	background-color: rgb(178, 59, 69)!important;
}

.theme-dark .container-20TyK0[style*="175, 50, 53"] {
	background-color: rgb(182, 60, 70)!important;
}

.theme-dark .container-20TyK0[style*="177, 50, 53"] {
	background-color: rgb(184, 60, 70)!important;
}

.theme-dark .container-20TyK0[style*="177, 50, 54"] {
	background-color: rgb(184, 60, 71)!important;
}

.theme-dark .container-20TyK0[style*="178, 50, 54"] {
	background-color: rgb(185, 60, 71)!important;
}

.theme-dark .container-20TyK0[style*="180, 51, 54"] {
	background-color: rgb(187, 61, 71)!important;
}

.theme-dark .container-20TyK0[style*="183, 51, 55"] {
	background-color: rgb(190, 61, 72)!important;
}

.theme-dark .container-20TyK0[style*="184, 51, 55"] {
	background-color: rgb(191, 61, 72)!important;
}

.theme-dark .container-20TyK0[style*="187, 52, 56"] {
	background-color: rgb(194, 62, 73)!important;
}

.theme-dark .container-20TyK0[style*="188, 52, 56"] {
	background-color: rgb(195, 62, 73)!important;
}

.theme-dark .container-20TyK0[style*="189, 52, 56"] {
	background-color: rgb(196, 62, 73)!important;
}

.theme-dark .container-20TyK0[style*="190, 53, 56"] {
	background-color: rgb(197, 63, 73)!important;
}

.theme-dark .container-20TyK0[style*="194, 53, 57"] {
	background-color: rgb(201, 63, 74)!important;
}

.theme-dark .container-20TyK0[style*="196, 54, 57"] {
	background-color: rgb(203, 64, 74)!important;
}

.theme-dark .container-20TyK0[style*="197, 54, 57"] {
	background-color: rgb(204, 64, 74)!important;
}

.theme-dark .container-20TyK0[style*="198, 54, 58"] {
	background-color: rgb(205, 64, 75)!important;
}

.theme-dark .container-20TyK0[style*="200, 55, 58"] {
	background-color: rgb(207, 65, 75)!important;
}

.theme-dark .container-20TyK0[style*="201, 55, 58"] {
	background-color: rgb(208, 65, 75)!important;
}

.theme-dark .container-20TyK0[style*="203, 55, 59"] {
	background-color: rgb(210, 65, 76)!important;
}

.theme-dark .container-20TyK0[style*="207, 56, 60"] {
	background-color: rgb(214, 66, 77)!important;
}

.theme-dark .container-20TyK0[style*="211, 57, 61"] {
	background-color: rgb(218, 67, 78)!important;
}

.theme-dark .container-20TyK0[style*="212, 57, 61"] {
	background-color: rgb(219, 67, 78)!important;
}

.theme-dark .container-20TyK0[style*="213, 57, 61"] {
	background-color: rgb(220, 67, 78)!important;
}

.theme-dark .container-20TyK0[style*="214, 57, 61"] {
	background-color: rgb(221, 67, 78)!important;
}

.theme-dark .container-20TyK0[style*="215, 58, 61"] {
	background-color: rgb(222, 68, 78)!important;
}

.theme-dark .container-20TyK0[style*="216, 58, 62"] {
	background-color: rgb(223, 68, 79)!important;
}

.theme-dark .container-20TyK0[style*="217, 58, 62"] {
	background-color: rgb(224, 68, 79)!important;
}

.theme-dark .container-20TyK0[style*="218, 58, 62"] {
	background-color: rgb(225, 68, 79)!important;
}

.theme-dark .container-20TyK0[style*="219, 58, 62"] {
	background-color: rgb(226, 68, 79)!important;
}

.theme-dark .container-20TyK0[style*="222, 59, 63"] {
	background-color: rgb(229, 69, 80)!important;
}

.theme-dark .container-20TyK0[style*="223, 59, 63"] {
	background-color: rgb(230, 69, 80)!important;
}

.theme-dark .container-20TyK0[style*="224, 59, 63"] {
	background-color: rgb(231, 69, 80)!important;
}

.theme-dark .container-20TyK0[style*="225, 60, 64"] {
	background-color: rgb(232, 70, 81)!important;
}

.theme-dark .container-20TyK0[style*="226, 60, 64"] {
	background-color: rgb(233, 70, 81)!important;
}

.theme-dark .container-20TyK0[style*="227, 60, 64"] {
	background-color: rgb(234, 70, 81)!important;
}

.theme-dark .container-20TyK0[style*="228, 60, 64"] {
	background-color: rgb(235, 70, 81)!important;
}

.theme-dark .container-20TyK0[style*="229, 60, 64"] {
	background-color: rgb(236, 70, 81)!important;
}

.theme-dark .container-20TyK0[style*="230, 61, 64"] {
	background-color: rgb(237, 71, 81)!important;
}

.theme-dark .container-20TyK0[style*="230, 61, 65"] {
	background-color: rgb(237, 71, 82)!important;
}

.theme-dark .container-20TyK0[style*="231, 61, 65"] {
	background-color: rgb(238, 71, 82)!important;
}

.theme-dark .container-20TyK0[style*="232, 61, 65"] {
	background-color: rgb(239, 71, 82)!important;
}

.theme-dark .container-20TyK0[style*="233, 61, 65"] {
	background-color: rgb(240, 71, 82)!important;
}

.theme-dark .container-20TyK0[style*="234, 61, 65"] {
	background-color: rgb(241, 71, 82)!important;
}

.theme-dark .container-20TyK0[style*="235, 62, 66"] {
	background-color: rgb(242, 72, 83)!important;
}

.theme-dark .container-20TyK0[style*="236, 62, 66"] {
	background-color: rgb(243, 72, 83)!important;
}

.theme-dark .container-20TyK0[style*="237, 62, 66"] {
	background-color: rgb(244, 72, 83)!important;
}

.theme-dark .container-20TyK0[style*="238, 62, 66"] {
	background-color: rgb(245, 72, 83)!important;
}

.theme-dark .container-20TyK0[style*="239, 62, 66"] {
	background-color: rgb(246, 72, 83)!important;
}

.theme-dark .container-20TyK0[style*="240, 62, 66"] {
	background-color: rgb(247, 72, 83)!important;
}

.theme-dark .container-20TyK0[style*="240, 63, 66"] {
	background-color: rgb(247, 73, 83)!important;
}

.theme-dark .container-20TyK0[style*="240, 63, 67"] {
	background-color: rgb(247, 73, 84)!important;
}

.theme-dark .container-20TyK0[style*="241, 63, 67"] {
	background-color: rgb(248, 73, 84)!important;
}

.theme-dark .container-20TyK0[style*="242, 63, 67"] {
	background-color: rgb(249, 73, 84)!important;
}

.theme-dark .container-20TyK0[style*="243, 63, 67"] {
	background-color: rgb(250, 73, 84)!important;
}

.theme-dark .container-20TyK0[style*="244, 49, 53"] {
	background-color: rgb(251, 59, 70)!important;
}

.theme-dark .container-20TyK0[style*="244, 63, 67"] {
	background-color: rgb(251, 73, 84)!important;
}

.theme-dark .container-20TyK0[style*="245, 64, 68"] {
	background-color: rgb(252, 74, 85)!important;
}

.theme-dark .container-20TyK0[style*="246, 64, 68"] {
	background-color: rgb(253, 74, 85)!important;
}

.theme-dark .container-20TyK0[style*="247, 64, 68"] {
	background-color: rgb(254, 74, 85)!important;
}

.theme-dark .container-20TyK0[style*="248, 64, 68"] {
	background-color: rgb(255, 74, 85)!important;
}

.theme-dark .container-20TyK0[style*="249, 64, 68"] {
	background-color: rgb(255, 75, 85)!important;
}

.theme-dark .container-20TyK0[style*="249, 64, 69"] {
	background-color: rgb(255, 75, 86)!important;
}

.theme-dark .container-20TyK0[style*="249, 65, 69"] {
	background-color: rgb(255, 76, 86)!important;
}

.theme-dark .container-20TyK0[style*="250, 65, 69"] {
	background-color: rgb(255, 77, 86)!important;
}

.theme-dark .container-20TyK0[style*="251, 65, 69"] {
	background-color: rgb(255, 78, 86)!important;
}

.theme-dark .container-20TyK0[style*="252, 65, 69"] {
	background-color: rgb(255, 79, 86)!important;
}

.theme-dark .container-20TyK0[style*="253, 65, 69"] {
	background-color: rgb(255, 80, 86)!important;
}

.theme-dark .container-20TyK0[style*="254, 65, 69"] {
	background-color: rgb(255, 81, 86)!important;
}

.theme-dark .container-20TyK0[style*="254, 65, 70"] {
	background-color: rgb(255, 81, 87)!important;
}

.theme-dark .container-20TyK0[style*="255, 66, 70"] {
	background-color: rgb(255, 83, 87)!important;
}

.theme-dark .container-20TyK0[style*="255, 66, 71"] {
	background-color: rgb(255, 83, 88)!important;
}

.theme-dark .container-3azaUr[style*="1, 15, 17"] {
	background-color: rgb(8, 25, 34)!important;
}

.theme-dark .container-3azaUr[style*="2, 15, 17"] {
	background-color: rgb(9, 25, 34)!important;
}

.theme-dark .container-3azaUr[style*="3, 15, 17"] {
	background-color: rgb(10, 25, 34)!important;
}

.theme-dark .container-3azaUr[style*="4, 15, 17"] {
	background-color: rgb(11, 25, 34)!important;
}

.theme-dark .container-3azaUr[style*="5, 16, 17"] {
	background-color: rgb(12, 26, 34)!important;
}

.theme-dark .container-3azaUr[style*="5, 16, 18"] {
	background-color: rgb(12, 26, 35)!important;
}

.theme-dark .container-3azaUr[style*="6, 16, 18"] {
	background-color: rgb(13, 26, 35)!important;
}

.theme-dark .container-3azaUr[style*="7, 16, 18"] {
	background-color: rgb(14, 26, 35)!important;
}

.theme-dark .container-3azaUr[style*="8, 16, 18"] {
	background-color: rgb(15, 26, 35)!important;
}

.theme-dark .container-3azaUr[style*="9, 16, 18"] {
	background-color: rgb(16, 26, 35)!important;
}

.theme-dark .container-3azaUr[style*="10, 16, 18"] {
	background-color: rgb(17, 26, 35)!important;
}

.theme-dark .container-3azaUr[style*="10, 17, 18"] {
	background-color: rgb(17, 27, 35)!important;
}

.theme-dark .container-3azaUr[style*="10, 17, 19"] {
	background-color: rgb(17, 27, 36)!important;
}

.theme-dark .container-3azaUr[style*="11, 17, 19"] {
	background-color: rgb(18, 27, 36)!important;
}

.theme-dark .container-3azaUr[style*="12, 17, 18"] {
	background-color: rgb(19, 27, 35)!important;
}

.theme-dark .container-3azaUr[style*="12, 17, 19"] {
	background-color: rgb(19, 27, 36)!important;
}

.theme-dark .container-3azaUr[style*="13, 17, 19"] {
	background-color: rgb(20, 27, 36)!important;
}

.theme-dark .container-3azaUr[style*="14, 17, 19"] {
	background-color: rgb(21, 27, 36)!important;
}

.theme-dark .container-3azaUr[style*="15, 17, 19"] {
	background-color: rgb(22, 27, 36)!important;
}

.theme-dark .container-3azaUr[style*="15, 18, 19"] {
	background-color: rgb(22, 28, 36)!important;
}

.theme-dark .container-3azaUr[style*="15, 18, 20"] {
	background-color: rgb(22, 28, 37)!important;
}

.theme-dark .container-3azaUr[style*="16, 18, 20"] {
	background-color: rgb(23, 28, 37)!important;
}

.theme-dark .container-3azaUr[style*="17, 18, 20"] {
	background-color: rgb(24, 28, 37)!important;
}

.theme-dark .container-3azaUr[style*="18, 18, 20"] {
	background-color: rgb(25, 28, 37)!important;
}

.theme-dark .container-3azaUr[style*="19, 18, 20"] {
	background-color: rgb(26, 28, 37)!important;
}

.theme-dark .container-3azaUr[style*="20, 18, 20"] {
	background-color: rgb(27, 18, 37)!important;
}

.theme-dark .container-3azaUr[style*="20, 18, 21"] {
	background-color: rgb(27, 18, 38)!important;
}

.theme-dark .container-3azaUr[style*="20, 19, 21"] {
	background-color: rgb(27, 29, 38)!important;
}

.theme-dark .container-3azaUr[style*="21, 19, 21"] {
	background-color: rgb(28, 29, 38)!important;
}

.theme-dark .container-3azaUr[style*="22, 19, 21"] {
	background-color: rgb(29, 29, 38)!important;
}

.theme-dark .container-3azaUr[style*="23, 19, 21"] {
	background-color: rgb(30, 29, 38)!important;
}

.theme-dark .container-3azaUr[style*="24, 19, 21"] {
	background-color: rgb(31, 29, 38)!important;
}

.theme-dark .container-3azaUr[style*="24, 19, 22"] {
	background-color: rgb(31, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="24, 20, 22"] {
	background-color: rgb(31, 30, 39)!important;
}

.theme-dark .container-3azaUr[style*="25, 20, 22"] {
	background-color: rgb(32, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="26, 20, 22"] {
	background-color: rgb(33, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="27, 20, 22"] {
	background-color: rgb(34, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="28, 20, 22"] {
	background-color: rgb(35, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="29, 20, 22"] {
	background-color: rgb(36, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="30, 20, 22"] {
	background-color: rgb(37, 29, 39)!important;
}

.theme-dark .container-3azaUr[style*="30, 20, 23"] {
	background-color: rgb(37, 29, 40)!important;
}

.theme-dark .container-3azaUr[style*="30, 21, 22"] {
	background-color: rgb(37, 31, 39)!important;
}

.theme-dark .container-3azaUr[style*="30, 21, 23"] {
	background-color: rgb(37, 31, 40)!important;
}

.theme-dark .container-3azaUr[style*="31, 21, 23"] {
	background-color: rgb(38, 31, 40)!important;
}

.theme-dark .container-3azaUr[style*="32, 21, 23"] {
	background-color: rgb(39, 31, 40)!important;
}

.theme-dark .container-3azaUr[style*="33, 21, 23"] {
	background-color: rgb(40, 31, 40)!important;
}

.theme-dark .container-3azaUr[style*="34, 21, 23"] {
	background-color: rgb(41, 31, 40)!important;
}

.theme-dark .container-3azaUr[style*="34, 21, 24"] {
	background-color: rgb(41, 31, 41)!important;
}

.theme-dark .container-3azaUr[style*="35, 22, 24"] {
	background-color: rgb(42, 32, 41)!important;
}

.theme-dark .container-3azaUr[style*="36, 22, 24"] {
	background-color: rgb(43, 32, 41)!important;
}

.theme-dark .container-3azaUr[style*="37, 22, 24"] {
	background-color: rgb(44, 32, 41)!important;
}

.theme-dark .container-3azaUr[style*="38, 22, 24"] {
	background-color: rgb(45, 32, 41)!important;
}

.theme-dark .container-3azaUr[style*="40, 23, 25"] {
	background-color: rgb(47, 33, 42)!important;
}

.theme-dark .container-3azaUr[style*="41, 23, 25"] {
	background-color: rgb(48, 33, 42)!important;
}

.theme-dark .container-3azaUr[style*="44, 23, 26"] {
	background-color: rgb(51, 33, 43)!important;
}

.theme-dark .container-3azaUr[style*="47, 24, 26"] {
	background-color: rgb(54, 34, 43)!important;
}

.theme-dark .container-3azaUr[style*="50, 25, 27"] {
	background-color: rgb(57, 35, 44)!important;
}

.theme-dark .container-3azaUr[style*="51, 25, 27"] {
	background-color: rgb(58, 35, 44)!important;
}

.theme-dark .container-3azaUr[style*="52, 25, 27"] {
	background-color: rgb(59, 35, 44)!important;
}

.theme-dark .container-3azaUr[style*="53, 25, 27"] {
	background-color: rgb(60, 35, 44)!important;
}

.theme-dark .container-3azaUr[style*="54, 25, 28"] {
	background-color: rgb(61, 35, 45)!important;
}

.theme-dark .container-3azaUr[style*="55, 26, 28"] {
	background-color: rgb(62, 36, 45)!important;
}

.theme-dark .container-3azaUr[style*="56, 26, 28"] {
	background-color: rgb(63, 36, 45)!important;
}

.theme-dark .container-3azaUr[style*="57, 26, 28"] {
	background-color: rgb(64, 36, 45)!important;
}

.theme-dark .container-3azaUr[style*="62, 27, 29"] {
	background-color: rgb(69, 37, 46)!important;
}

.theme-dark .container-3azaUr[style*="63, 27, 30"] {
	background-color: rgb(70, 37, 47)!important;
}

.theme-dark .container-3azaUr[style*="66, 28, 30"] {
	background-color: rgb(73, 38, 47)!important;
}

.theme-dark .container-3azaUr[style*="67, 28, 30"] {
	background-color: rgb(74, 38, 47)!important;
}

.theme-dark .container-3azaUr[style*="68, 28, 30"] {
	background-color: rgb(75, 38, 47)!important;
}

.theme-dark .container-3azaUr[style*="68, 28, 31"] {
	background-color: rgb(75, 38, 48)!important;
}

.theme-dark .container-3azaUr[style*="69, 28, 31"] {
	background-color: rgb(76, 38, 48)!important;
}

.theme-dark .container-3azaUr[style*="71, 29, 31"] {
	background-color: rgb(78, 39, 48)!important;
}

.theme-dark .container-3azaUr[style*="73, 29, 32"] {
	background-color: rgb(80, 39, 49)!important;
}

.theme-dark .container-3azaUr[style*="75, 30, 32"] {
	background-color: rgb(82, 40, 49)!important;
}

.theme-dark .container-3azaUr[style*="76, 30, 32"] {
	background-color: rgb(83, 40, 49)!important;
}

.theme-dark .container-3azaUr[style*="78, 30, 33"] {
	background-color: rgb(85, 40, 50)!important;
}

.theme-dark .container-3azaUr[style*="79, 30, 33"] {
	background-color: rgb(86, 40, 50)!important;
}

.theme-dark .container-3azaUr[style*="83, 31, 34"] {
	background-color: rgb(90, 41, 51)!important;
}

.theme-dark .container-3azaUr[style*="89, 32, 35"] {
	background-color: rgb(96, 42, 52)!important;
}

.theme-dark .container-3azaUr[style*="91, 33, 35"] {
	background-color: rgb(98, 43, 52)!important;
}

.theme-dark .container-3azaUr[style*="92, 33, 36"] {
	background-color: rgb(99, 43, 53)!important;
}

.theme-dark .container-3azaUr[style*="93, 33, 36"] {
	background-color: rgb(100, 43, 53)!important;
}

.theme-dark .container-3azaUr[style*="94, 33, 36"] {
	background-color: rgb(101, 43, 53)!important;
}

.theme-dark .container-3azaUr[style*="95, 34, 36"] {
	background-color: rgb(102, 44, 53)!important;
}

.theme-dark .container-3azaUr[style*="96, 34, 37"] {
	background-color: rgb(103, 44, 54)!important;
}

.theme-dark .container-3azaUr[style*="97, 34, 37"] {
	background-color: rgb(104, 44, 54)!important;
}

.theme-dark .container-3azaUr[style*="98, 34, 37"] {
	background-color: rgb(105, 44, 54)!important;
}

.theme-dark .container-3azaUr[style*="99, 34, 37"] {
	background-color: rgb(106, 44, 54)!important;
}

.theme-dark .container-3azaUr[style*="101, 35, 38"] {
	background-color: rgb(108, 45, 55)!important;
}

.theme-dark .container-3azaUr[style*="102, 35, 38"] {
	background-color: rgb(109, 45, 55)!important;
}

.theme-dark .container-3azaUr[style*="103, 35, 38"] {
	background-color: rgb(110, 45, 55)!important;
}

.theme-dark .container-3azaUr[style*="104, 35, 38"] {
	background-color: rgb(111, 45, 55)!important;
}

.theme-dark .container-3azaUr[style*="107, 36, 39"] {
	background-color: rgb(114, 46, 56)!important;
}

.theme-dark .container-3azaUr[style*="110, 37, 39"] {
	background-color: rgb(117, 47, 56)!important;
}

.theme-dark .container-3azaUr[style*="113, 37, 40"] {
	background-color: rgb(120, 47, 57)!important;
}

.theme-dark .container-3azaUr[style*="114, 37, 40"] {
	background-color: rgb(121, 47, 57)!important;
}

.theme-dark .container-3azaUr[style*="118, 38, 41"] {
	background-color: rgb(125, 48, 58)!important;
}

.theme-dark .container-3azaUr[style*="121, 39, 42"] {
	background-color: rgb(128, 49, 59)!important;
}

.theme-dark .container-3azaUr[style*="122, 39, 42"] {
	background-color: rgb(129, 49, 59)!important;
}

.theme-dark .container-3azaUr[style*="123, 39, 42"] {
	background-color: rgb(130, 49, 59)!important;
}

.theme-dark .container-3azaUr[style*="128, 40, 43"] {
	background-color: rgb(135, 50, 60)!important;
}

.theme-dark .container-3azaUr[style*="129, 40, 43"] {
	background-color: rgb(136, 50, 60)!important;
}

.theme-dark .container-3azaUr[style*="131, 41, 44"] {
	background-color: rgb(138, 51, 61)!important;
}

.theme-dark .container-3azaUr[style*="132, 41, 44"] {
	background-color: rgb(139, 51, 61)!important;
}

.theme-dark .container-3azaUr[style*="133, 41, 44"] {
	background-color: rgb(140, 51, 61)!important;
}

.theme-dark .container-3azaUr[style*="134, 41, 44"] {
	background-color: rgb(141, 51, 61)!important;
}

.theme-dark .container-3azaUr[style*="137, 42, 45"] {
	background-color: rgb(144, 52, 62)!important;
}

.theme-dark .container-3azaUr[style*="138, 42, 45"] {
	background-color: rgb(145, 52, 62)!important;
}

.theme-dark .container-3azaUr[style*="139, 42, 46"] {
	background-color: rgb(146, 52, 63)!important;
}

.theme-dark .container-3azaUr[style*="140, 43, 46"] {
	background-color: rgb(147, 53, 63)!important;
}

.theme-dark .container-3azaUr[style*="141, 43, 46"] {
	background-color: rgb(148, 53, 63)!important;
}

.theme-dark .container-3azaUr[style*="142, 43, 46"] {
	background-color: rgb(149, 53, 63)!important;
}

.theme-dark .container-3azaUr[style*="146, 44, 47"] {
	background-color: rgb(153, 54, 64)!important;
}

.theme-dark .container-3azaUr[style*="147, 44, 47"] {
	background-color: rgb(154, 54, 64)!important;
}

.theme-dark .container-3azaUr[style*="149, 44, 48"] {
	background-color: rgb(156, 54, 65)!important;
}

.theme-dark .container-3azaUr[style*="152, 45, 48"] {
	background-color: rgb(159, 55, 66)!important;
}

.theme-dark .container-3azaUr[style*="154, 45, 49"] {
	background-color: rgb(161, 55, 66)!important;
}

.theme-dark .container-3azaUr[style*="155, 46, 49"] {
	background-color: rgb(162, 56, 66)!important;
}

.theme-dark .container-3azaUr[style*="156, 46, 49"] {
	background-color: rgb(163, 56, 66)!important;
}

.theme-dark .container-3azaUr[style*="157, 46, 49"] {
	background-color: rgb(164, 56, 66)!important;
}

.theme-dark .container-3azaUr[style*="159, 46, 50"] {
	background-color: rgb(166, 56, 67)!important;
}

.theme-dark .container-3azaUr[style*="160, 47, 50"] {
	background-color: rgb(167, 57, 67)!important;
}

.theme-dark .container-3azaUr[style*="161, 47, 50"] {
	background-color: rgb(168, 57, 67)!important;
}

.theme-dark .container-3azaUr[style*="164, 47, 51"] {
	background-color: rgb(171, 57, 68)!important;
}

.theme-dark .container-3azaUr[style*="165, 48, 51"] {
	background-color: rgb(172, 58, 68)!important;
}

.theme-dark .container-3azaUr[style*="166, 48, 51"] {
	background-color: rgb(173, 58, 68)!important;
}

.theme-dark .container-3azaUr[style*="169, 48, 52"] {
	background-color: rgb(176, 58, 69)!important;
}

.theme-dark .container-3azaUr[style*="170, 49, 52"] {
	background-color: rgb(177, 59, 69)!important;
}

.theme-dark .container-3azaUr[style*="171, 49, 52"] {
	background-color: rgb(178, 59, 69)!important;
}

.theme-dark .container-3azaUr[style*="175, 50, 53"] {
	background-color: rgb(182, 60, 70)!important;
}

.theme-dark .container-3azaUr[style*="177, 50, 53"] {
	background-color: rgb(184, 60, 70)!important;
}

.theme-dark .container-3azaUr[style*="177, 50, 54"] {
	background-color: rgb(184, 60, 71)!important;
}

.theme-dark .container-3azaUr[style*="178, 50, 54"] {
	background-color: rgb(185, 60, 71)!important;
}

.theme-dark .container-3azaUr[style*="180, 51, 54"] {
	background-color: rgb(187, 61, 71)!important;
}

.theme-dark .container-3azaUr[style*="183, 51, 55"] {
	background-color: rgb(190, 61, 72)!important;
}

.theme-dark .container-3azaUr[style*="184, 51, 55"] {
	background-color: rgb(191, 61, 72)!important;
}

.theme-dark .container-3azaUr[style*="187, 52, 56"] {
	background-color: rgb(194, 62, 73)!important;
}

.theme-dark .container-3azaUr[style*="188, 52, 56"] {
	background-color: rgb(195, 62, 73)!important;
}

.theme-dark .container-3azaUr[style*="189, 52, 56"] {
	background-color: rgb(196, 62, 73)!important;
}

.theme-dark .container-3azaUr[style*="190, 53, 56"] {
	background-color: rgb(197, 63, 73)!important;
}

.theme-dark .container-3azaUr[style*="194, 53, 57"] {
	background-color: rgb(201, 63, 74)!important;
}

.theme-dark .container-3azaUr[style*="196, 54, 57"] {
	background-color: rgb(203, 64, 74)!important;
}

.theme-dark .container-3azaUr[style*="197, 54, 57"] {
	background-color: rgb(204, 64, 74)!important;
}

.theme-dark .container-3azaUr[style*="198, 54, 58"] {
	background-color: rgb(205, 64, 75)!important;
}

.theme-dark .container-3azaUr[style*="200, 55, 58"] {
	background-color: rgb(207, 65, 75)!important;
}

.theme-dark .container-3azaUr[style*="201, 55, 58"] {
	background-color: rgb(208, 65, 75)!important;
}

.theme-dark .container-3azaUr[style*="203, 55, 59"] {
	background-color: rgb(210, 65, 76)!important;
}

.theme-dark .container-3azaUr[style*="207, 56, 60"] {
	background-color: rgb(214, 66, 77)!important;
}

.theme-dark .container-3azaUr[style*="211, 57, 61"] {
	background-color: rgb(218, 67, 78)!important;
}

.theme-dark .container-3azaUr[style*="212, 57, 61"] {
	background-color: rgb(219, 67, 78)!important;
}

.theme-dark .container-3azaUr[style*="213, 57, 61"] {
	background-color: rgb(220, 67, 78)!important;
}

.theme-dark .container-3azaUr[style*="214, 57, 61"] {
	background-color: rgb(221, 67, 78)!important;
}

.theme-dark .container-3azaUr[style*="215, 58, 61"] {
	background-color: rgb(222, 68, 78)!important;
}

.theme-dark .container-3azaUr[style*="216, 58, 62"] {
	background-color: rgb(223, 68, 79)!important;
}

.theme-dark .container-3azaUr[style*="217, 58, 62"] {
	background-color: rgb(224, 68, 79)!important;
}

.theme-dark .container-3azaUr[style*="218, 58, 62"] {
	background-color: rgb(225, 68, 79)!important;
}

.theme-dark .container-3azaUr[style*="219, 58, 62"] {
	background-color: rgb(226, 68, 79)!important;
}

.theme-dark .container-3azaUr[style*="222, 59, 63"] {
	background-color: rgb(229, 69, 80)!important;
}

.theme-dark .container-3azaUr[style*="223, 59, 63"] {
	background-color: rgb(230, 69, 80)!important;
}

.theme-dark .container-3azaUr[style*="224, 59, 63"] {
	background-color: rgb(231, 69, 80)!important;
}

.theme-dark .container-3azaUr[style*="225, 60, 64"] {
	background-color: rgb(232, 70, 81)!important;
}

.theme-dark .container-3azaUr[style*="226, 60, 64"] {
	background-color: rgb(233, 70, 81)!important;
}

.theme-dark .container-3azaUr[style*="227, 60, 64"] {
	background-color: rgb(234, 70, 81)!important;
}

.theme-dark .container-3azaUr[style*="228, 60, 64"] {
	background-color: rgb(235, 70, 81)!important;
}

.theme-dark .container-3azaUr[style*="229, 60, 64"] {
	background-color: rgb(236, 70, 81)!important;
}

.theme-dark .container-3azaUr[style*="230, 61, 64"] {
	background-color: rgb(237, 71, 81)!important;
}

.theme-dark .container-3azaUr[style*="230, 61, 65"] {
	background-color: rgb(237, 71, 82)!important;
}

.theme-dark .container-3azaUr[style*="231, 61, 65"] {
	background-color: rgb(238, 71, 82)!important;
}

.theme-dark .container-3azaUr[style*="232, 61, 65"] {
	background-color: rgb(239, 71, 82)!important;
}

.theme-dark .container-3azaUr[style*="233, 61, 65"] {
	background-color: rgb(240, 71, 82)!important;
}

.theme-dark .container-3azaUr[style*="234, 61, 65"] {
	background-color: rgb(241, 71, 82)!important;
}

.theme-dark .container-3azaUr[style*="235, 62, 66"] {
	background-color: rgb(242, 72, 83)!important;
}

.theme-dark .container-3azaUr[style*="236, 62, 66"] {
	background-color: rgb(243, 72, 83)!important;
}

.theme-dark .container-3azaUr[style*="237, 62, 66"] {
	background-color: rgb(244, 72, 83)!important;
}

.theme-dark .container-3azaUr[style*="238, 62, 66"] {
	background-color: rgb(245, 72, 83)!important;
}

.theme-dark .container-3azaUr[style*="239, 62, 66"] {
	background-color: rgb(246, 72, 83)!important;
}

.theme-dark .container-3azaUr[style*="240, 62, 66"] {
	background-color: rgb(247, 72, 83)!important;
}

.theme-dark .container-3azaUr[style*="240, 63, 66"] {
	background-color: rgb(247, 73, 83)!important;
}

.theme-dark .container-3azaUr[style*="240, 63, 67"] {
	background-color: rgb(247, 73, 84)!important;
}

.theme-dark .container-3azaUr[style*="241, 63, 67"] {
	background-color: rgb(248, 73, 84)!important;
}

.theme-dark .container-3azaUr[style*="242, 63, 67"] {
	background-color: rgb(249, 73, 84)!important;
}

.theme-dark .container-3azaUr[style*="243, 63, 67"] {
	background-color: rgb(250, 73, 84)!important;
}

.theme-dark .container-3azaUr[style*="244, 49, 53"] {
	background-color: rgb(251, 59, 70)!important;
}

.theme-dark .container-3azaUr[style*="244, 63, 67"] {
	background-color: rgb(251, 73, 84)!important;
}

.theme-dark .container-3azaUr[style*="245, 64, 68"] {
	background-color: rgb(252, 74, 85)!important;
}

.theme-dark .container-3azaUr[style*="246, 64, 68"] {
	background-color: rgb(253, 74, 85)!important;
}

.theme-dark .container-3azaUr[style*="247, 64, 68"] {
	background-color: rgb(254, 74, 85)!important;
}

.theme-dark .container-3azaUr[style*="248, 64, 68"] {
	background-color: rgb(255, 74, 85)!important;
}

.theme-dark .container-3azaUr[style*="249, 64, 68"] {
	background-color: rgb(255, 75, 85)!important;
}

.theme-dark .container-3azaUr[style*="249, 64, 69"] {
	background-color: rgb(255, 75, 86)!important;
}

.theme-dark .container-3azaUr[style*="249, 65, 69"] {
	background-color: rgb(255, 76, 86)!important;
}

.theme-dark .container-3azaUr[style*="250, 65, 69"] {
	background-color: rgb(255, 77, 86)!important;
}

.theme-dark .container-3azaUr[style*="251, 65, 69"] {
	background-color: rgb(255, 78, 86)!important;
}

.theme-dark .container-3azaUr[style*="252, 65, 69"] {
	background-color: rgb(255, 79, 86)!important;
}

.theme-dark .container-3azaUr[style*="253, 65, 69"] {
	background-color: rgb(255, 80, 86)!important;
}

.theme-dark .container-3azaUr[style*="254, 65, 69"] {
	background-color: rgb(255, 81, 86)!important;
}

.theme-dark .container-3azaUr[style*="254, 65, 70"] {
	background-color: rgb(255, 81, 87)!important;
}

.theme-dark .container-3azaUr[style*="255, 66, 70"] {
	background-color: rgb(255, 83, 87)!important;
}

.theme-dark .container-3azaUr[style*="255, 66, 71"] {
	background-color: rgb(255, 83, 88)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0"] {
	background-color: rgba(60, 193, 235, 0)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.01"] {
	background-color: rgba(60, 193, 235, 0.01)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.011"] {
	background-color: rgba(60, 193, 235, 0.011)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.012"] {
	background-color: rgba(60, 193, 235, 0.012)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.013"] {
	background-color: rgba(60, 193, 235, 0.013)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.014"] {
	background-color: rgba(60, 193, 235, 0.014)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.015"] {
	background-color: rgba(60, 193, 235, 0.015)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.016"] {
	background-color: rgba(60, 193, 235, 0.016)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.017"] {
	background-color: rgba(60, 193, 235, 0.017)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.018"] {
	background-color: rgba(60, 193, 235, 0.018)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.019"] {
	background-color: rgba(60, 193, 235, 0.019)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.02"] {
	background-color: rgba(60, 193, 235, 0.02)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.021"] {
	background-color: rgba(60, 193, 235, 0.021)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.022"] {
	background-color: rgba(60, 193, 235, 0.022)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.023"] {
	background-color: rgba(60, 193, 235, 0.023)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.024"] {
	background-color: rgba(60, 193, 235, 0.024)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.025"] {
	background-color: rgba(60, 193, 235, 0.025)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.026"] {
	background-color: rgba(60, 193, 235, 0.026)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.027"] {
	background-color: rgba(60, 193, 235, 0.027)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.028"] {
	background-color: rgba(60, 193, 235, 0.028)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.029"] {
	background-color: rgba(60, 193, 235, 0.029)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.03"] {
	background-color: rgba(60, 193, 235, 0.03)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.031"] {
	background-color: rgba(60, 193, 235, 0.031)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.032"] {
	background-color: rgba(60, 193, 235, 0.032)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.033"] {
	background-color: rgba(60, 193, 235, 0.033)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.034"] {
	background-color: rgba(60, 193, 235, 0.034)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.035"] {
	background-color: rgba(60, 193, 235, 0.035)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.036"] {
	background-color: rgba(60, 193, 235, 0.036)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.037"] {
	background-color: rgba(60, 193, 235, 0.037)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.038"] {
	background-color: rgba(60, 193, 235, 0.038)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.039"] {
	background-color: rgba(60, 193, 235, 0.039)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.04"] {
	background-color: rgba(60, 193, 235, 0.04)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.041"] {
	background-color: rgba(60, 193, 235, 0.041)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.042"] {
	background-color: rgba(60, 193, 235, 0.042)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.033"] {
	background-color: rgba(60, 193, 235, 0.043)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.034"] {
	background-color: rgba(60, 193, 235, 0.044)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.045"] {
	background-color: rgba(60, 193, 235, 0.045)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.046"] {
	background-color: rgba(60, 193, 235, 0.046)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.047"] {
	background-color: rgba(60, 193, 235, 0.047)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.048"] {
	background-color: rgba(60, 193, 235, 0.048)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.049"] {
	background-color: rgba(60, 193, 235, 0.049)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.05"] {
	background-color: rgba(60, 193, 235, 0.05)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.051"] {
	background-color: rgba(60, 193, 235, 0.051)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.052"] {
	background-color: rgba(60, 193, 235, 0.052)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.053"] {
	background-color: rgba(60, 193, 235, 0.053)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.054"] {
	background-color: rgba(60, 193, 235, 0.054)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.055"] {
	background-color: rgba(60, 193, 235, 0.055)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.056"] {
	background-color: rgba(60, 193, 235, 0.056)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.057"] {
	background-color: rgba(60, 193, 235, 0.057)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.058"] {
	background-color: rgba(60, 193, 235, 0.058)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.059"] {
	background-color: rgba(60, 193, 235, 0.059)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.06"] {
	background-color: rgba(60, 193, 235, 0.06)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.061"] {
	background-color: rgba(60, 193, 235, 0.061)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.062"] {
	background-color: rgba(60, 193, 235, 0.062)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.063"] {
	background-color: rgba(60, 193, 235, 0.063)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.064"] {
	background-color: rgba(60, 193, 235, 0.064)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.065"] {
	background-color: rgba(60, 193, 235, 0.065)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.066"] {
	background-color: rgba(60, 193, 235, 0.066)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.067"] {
	background-color: rgba(60, 193, 235, 0.067)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.068"] {
	background-color: rgba(60, 193, 235, 0.068)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.069"] {
	background-color: rgba(60, 193, 235, 0.069)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.07"] {
	background-color: rgba(60, 193, 235, 0.07)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.071"] {
	background-color: rgba(60, 193, 235, 0.071)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.072"] {
	background-color: rgba(60, 193, 235, 0.072)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.073"] {
	background-color: rgba(60, 193, 235, 0.073)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.074"] {
	background-color: rgba(60, 193, 235, 0.074)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.075"] {
	background-color: rgba(60, 193, 235, 0.075)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.076"] {
	background-color: rgba(60, 193, 235, 0.076)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.077"] {
	background-color: rgba(60, 193, 235, 0.077)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.078"] {
	background-color: rgba(60, 193, 235, 0.078)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.079"] {
	background-color: rgba(60, 193, 235, 0.079)!important;
}

.backgroundFlash-1X5jVs[style*="148, 156, 247, 0.08"] {
	background-color: rgba(60, 193, 235, 0.08)!important;
}