.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .role_d81130,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .role_d81130{
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .member-perms .role_d81130,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .member-perms .role_d81130{
	background-color: var(--profile-gradient-secondary-color);
}

.theme-light .addButtonIcon__8ad56 path {
	fill: #2e3338;
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note_ba0c31 .textarea__0461c,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .note_ba0c31 .textarea__0461c,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .note_ba0c31 .textarea__0461c:hover,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note_ba0c31 .textarea__0461c:hover{
	background: var(--profile-gradient-secondary-color)!important;
	border: none!important;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .note_ba0c31 textarea:focus,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note_ba0c31 textarea:focus {
	background: var(--profile-gradient-secondary-color)!important;
	border: none!important;
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .messageInputContainer_a93946,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .messageInputContainer_a93946,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .messageInputContainer_a93946:hover,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .messageInputContainer_a93946:hover{
	background: var(--profile-gradient-secondary-color)!important;
	border: none!important;
}

.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .badgeList__76720{
	background: var(--profile-gradient-secondary-color);
}

.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #060607!important
}

.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
	color: #060607!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #060607!important
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
	color: #060607!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .themed_b957e8.item__48dda:active,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .themed_b957e8.item__48dda:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .top_fae1fa .themed_b957e8.item__48dda:active,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .top_fae1fa .themed_b957e8.item__48dda:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .connections-2K6Bu6:hover, .userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .connections-2K6Bu6:hover {
	background: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color))!important;
}

.premiumIconWrapper__7793e .textBadge_f05120 {
	background-color: var(--profile-gradient-secondary-color)!important;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .profileBadges__1f2ab,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .profileBadges__1f2ab{
	background: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .badgeList__126b0,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .badgeList__126b0{
	background: var(--profile-gradient-secondary-color);
}

.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .textarea__0461c,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .textarea__0461c:focus,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .listRow__50619:hover {
	background: linear-gradient(var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color))
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .connectedAccountVanityMetadataTag-19Al5z,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .connectedAccountVanityMetadataTag-19Al5z {
	background-color: var(--profile-gradient-secondary-color);
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__8c13f,.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__8c13f {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important;
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__8c13f:hover:not(:disabled),.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__8c13f:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__8c13f,.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__8c13f {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #2e3338!important;
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__8c13f:hover:not(:disabled),.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__8c13f:hover:not(:disabled) {
	color: #2e3338!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor_db400e,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor_db400e {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-dark.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor_db400e:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor_db400e:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor_db400e,.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor_db400e {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-light.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor_db400e:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor_db400e:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .buttonColor__8c13f,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__8c13f,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__8c13f {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .buttonColor__8c13f:hover:not(:disabled),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__8c13f:hover:not(:disabled),.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__8c13f:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .listRow__50619:hover,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .listRow__50619:hover {
	background: var(--profile-gradient-secondary-color)
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .textarea__0461c:focus,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .textarea__0461c:focus {
	background: var(--profile-gradient-secondary-color)
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .menu-2-eHMB .colorDefault_e361cf.focused_dcafb9:not(.hideInteraction__0b569),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .menu-2-eHMB .colorDefault_e361cf.focused_dcafb9:not(.hideInteraction__0b569),.userProfileInnerThemedPremiumWithoutBanner_ee8277 .menu-2-eHMB .colorDefault_e361cf:active:not(.hideInteraction__0b569),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .menu-2-eHMB .colorDefault_e361cf:active:not(.hideInteraction__0b569) {
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .menu-2TXYjN,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .menu-2TXYjN {
	background-color: var(--profile-gradient-primary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .akaBadge-ep3q0P,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .akaBadge-ep3q0P,.userPanelOuter-XfFELn.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .akaBadge-ep3q0P {
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider-SH6OnO,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider-SH6OnO,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .tabBarContainer_b283be,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .tabBarContainer_b283be {
	border-color: var(--profile-gradient-secondary-color);
}

.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .divider_d6f39c,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .badgeList__76720,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider_d6f39c,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider_d6f39c,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider-2dDziJ,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .messageInput_c423ff,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .textarea__0461c:not(.note__7a4f4 textarea),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .textarea__0461c:focus,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .listRow__50619:hover,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .profileBadges__1f2ab,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .badgeList__76720,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note__7a4f4 textarea:focus,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .divider-2dDziJ,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .textarea__0461c,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .textarea__0461c:focus,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .listRow__50619:hover {
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileModalOuter__90b4a:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider__7116f,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider__7116f,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .tabBarContainer_b283be,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .mutualFriendsDivider__2c616,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .userInfoSection_e816c1+.userInfoSection_e816c1,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .connectedAccountContainer__5972d {
	border-color: var(--profile-gradient-secondary-color);
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .themed_b957e8.item__48dda:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileOuterThemed_a425f3 .wrapper .controls .caret,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .wrapper .controls .caret,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .wrapper .controls .caret,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.userProfileOuterThemed_a425f3 .wrapper .controls .caret:hover:not(.disabled),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .wrapper .controls .caret:hover:not(.disabled),.userProfileInnerThemedPremiumWithoutBanner_ee8277 .wrapper .controls .caret:hover:not(.disabled),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider__979dc,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider__979dc,.premiumIconWrapper__7793e .textBadge_f05120,.userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .userPanelInnerThemed__651e4 .dotSpacer_f8ba0a,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .dotSpacer_f8ba0a,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .dotSpacer_f8ba0a {
	background-color: var(--profile-gradient-secondary-color)!important;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .scrollerSeparator_d8843a,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .scrollerSeparator_d8843a{
	box-shadow: 0 -1px 0 var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .colorBrand__27d57,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .colorBrand__27d57:disabled,.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .colorBrand__27d57,.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .colorBrand__27d57:disabled,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .colorBrand__27d57,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .colorBrand__27d57:disabled,.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .buttonColor_fd4fe8,.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .buttonColor_fd4fe8,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .buttonColor_fd4fe8 {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .colorBrand__27d57:hover:not(:disabled),.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .colorBrand__27d57:hover:not(:disabled),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .colorBrand__27d57:hover:not(:disabled),.chat__52833 .userProfileOuterThemed_a425f3:not([style*="background-secondary-alt"]) .buttonColor_fd4fe8:hover:not(:disabled),.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .buttonColor_fd4fe8:hover:not(:disabled),.userProfileInnerThemedPremiumWithoutBanner_ee8277 .buttonColor_fd4fe8:hover:not(:disabled){
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.userProfileOuter__35e59:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .wrapper .controls,
.userProfileInnerThemedPremiumWithoutBanner_ee8277 .wrapper .controls,
.userProfileOuterThemed_a425f3 .wrapper .controls {
	background-color: var(--profile-gradient-primary-color);
}

.custom-profile-theme .tabBar__6db53 {
	border-color: var(--profile-gradient-primary-color);
}

.custom-profile-theme .top_fae1fa .brand_ce3ecf.item__48dda:hover, 
.custom-profile-theme .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda, 
.custom-profile-theme .top_fae1fa .themed_b957e8.item__48dda:hover, 
.custom-profile-theme .top_fae1fa .themed_b957e8.item__48dda:active {
	border-image: linear-gradient(to right, var(--profile-gradient-secondary-color), var(--profile-gradient-secondary-color)) 1;
}

.custom-profile-theme .showMoreButton__50b95.pill__54982,.custom-profile-theme .statusBubble__1a4c3, .custom-profile-theme .statusBubbleOuter__7e51b, .custom-profile-theme .statusBubbleOuter__7e51b:before, .custom-profile-theme .statusBubbleOuter__7e51b:after,.custom-profile-theme .divider__979dc,.custom-profile-theme .listRow__50619:hover,.custom-profile-theme .container__665d0,.custom-profile-theme .role_d81130,.custom-profile-theme .note_a92d50 textarea:focus {
	background-color: var(--profile-gradient-secondary-color);
}

.custom-profile-theme .themedBackground__3a4c0 {
	background: var(--bg-overlay-5,var(--profile-gradient-secondary-color)) !important;
}

.theme-dark.custom-profile-theme .lookFilled__950dd.actionColor_db400e,
.theme-light.custom-profile-theme .lookFilled__950dd.actionColor_db400e,
.theme-dark.custom-profile-theme .lookFilled__950dd.colorPrimary_ebe632,
.theme-light.custom-profile-theme .lookFilled__950dd.colorPrimary_ebe632 {
	background-color: rgba(0, 0, 0, .5) !important;
	border: 2px solid var(--profile-gradient-secondary-color) !important;
	border-radius: 6px !important;
	color: #fff !important;
}

.theme-dark.custom-profile-theme .lookFilled__950dd.actionColor_db400e:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled__950dd.actionColor_db400e:hover:not(:disabled),
.theme-dark.custom-profile-theme .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
	color: #fff !important;
	border: 2px solid transparent !important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right, var(--profile-gradient-secondary-color), var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light.custom-profile-theme .lookFilled__950dd.actionColor_db400e,
.theme-light.custom-profile-theme .lookFilled__950dd.actionColor_db400e:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled__950dd.colorPrimary_ebe632,
.theme-light.custom-profile-theme .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
	color: #060607 !important;
}

.custom-profile-theme .connectedAccountContainer__5972d {
	border-color: var(--profile-gradient-secondary-color);
}
