.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .role_e4010c,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .role_e4010c{
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .member-perms .role_e4010c,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .member-perms .role_e4010c{
	background-color: var(--profile-gradient-secondary-color);
}

.theme-light .addButtonIcon__8ad56 path {
	fill: #2e3338;
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note_c90ad7 .textarea_dde0a8,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .note_c90ad7 .textarea_dde0a8,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .note_c90ad7 .textarea_dde0a8:hover,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note_c90ad7 .textarea_dde0a8:hover{
	background: var(--profile-gradient-secondary-color)!important;
	border: none!important;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .note_c90ad7 textarea:focus,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note_c90ad7 textarea:focus {
	background: var(--profile-gradient-secondary-color)!important;
	border: none!important;
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .messageInputContainer_a93946,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .messageInputContainer_a93946,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .messageInputContainer_a93946:hover,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .messageInputContainer_a93946:hover{
	background: var(--profile-gradient-secondary-color)!important;
	border: none!important;
}

.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .badgeList__76720{
	background: var(--profile-gradient-secondary-color);
}

.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93:disabled,.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorPrimary_dd4f85,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorPrimary_dd4f85:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93:hover:not(:disabled),.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorGreen__75c93,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorGreen__75c93:disabled,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorPrimary_dd4f85,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorPrimary_dd4f85:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorGreen__75c93:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93:disabled,.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorPrimary_dd4f85,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorPrimary_dd4f85:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #060607!important
}

.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93:hover:not(:disabled),.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled) {
	color: #060607!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorGreen__75c93,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorGreen__75c93:disabled,.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorPrimary_dd4f85,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorPrimary_dd4f85:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #060607!important
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorGreen__75c93:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled) {
	color: #060607!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_a0 .selected_a0.themed_a0.item_a0,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_a0 .themed_a0.item_a0:active,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_a0 .themed_a0.item_a0:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .top_a0 .selected_a0.themed_a0.item_a0,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .top_a0 .themed_a0.item_a0:active,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .top_a0 .themed_a0.item_a0:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .connections-2K6Bu6:hover, .userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .connections-2K6Bu6:hover {
	background: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color))!important;
}

.premiumIconWrapper_c3e427 .textBadge_df8943 {
	background-color: var(--profile-gradient-secondary-color)!important;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .profileBadges_f89da9,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .profileBadges_f89da9{
	background: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .badgeList__126b0,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .badgeList__126b0{
	background: var(--profile-gradient-secondary-color);
}

.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .textarea_dde0a8,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .textarea_dde0a8:focus,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .listRow_e4be58:hover {
	background: linear-gradient(var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color))
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .connectedAccountVanityMetadataTag-19Al5z,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .connectedAccountVanityMetadataTag-19Al5z {
	background-color: var(--profile-gradient-secondary-color);
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5,.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f,.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important;
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5:hover,.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5,.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f,.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #2e3338!important;
}

.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled) {
	color: #2e3338!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.actionColor_fc39e7,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.actionColor_fc39e7 {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.theme-dark.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.actionColor_fc39e7,.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.actionColor_fc39e7 {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #060607!important
}

.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled) {
	color: #060607!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .buttonColor_b3c4e5,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5,.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .buttonColor__8c13f,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .buttonColor_b3c4e5:hover:not(:disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .buttonColor__8c13f:hover:not(:disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .listRow_e4be58:hover,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .listRow_e4be58:hover {
	background: var(--profile-gradient-secondary-color)
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .textarea_dde0a8:focus,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .textarea_dde0a8:focus {
	background: var(--profile-gradient-secondary-color)
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .menu-2-eHMB .colorDefault_d90b3d.focused_d90b3d:not(.hideInteraction_d90b3d),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .menu-2-eHMB .colorDefault_d90b3d.focused_d90b3d:not(.hideInteraction_d90b3d),.userProfileInnerThemedPremiumWithoutBanner_c69a7b .menu-2-eHMB .colorDefault_d90b3d:active:not(.hideInteraction_d90b3d),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .menu-2-eHMB .colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) {
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .menu-2TXYjN,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .menu-2TXYjN {
	background-color: var(--profile-gradient-primary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .akaBadge-ep3q0P,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .akaBadge-ep3q0P,.userPanelOuter-XfFELn.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .akaBadge-ep3q0P {
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .divider-SH6OnO,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider-SH6OnO,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .tabBarContainer_b9fccc,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .tabBarContainer_b9fccc {
	border-color: var(--profile-gradient-secondary-color);
}

.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .divider_d6f39c,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .badgeList__76720,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .divider_d6f39c,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider_d6f39c,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider-2dDziJ,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .messageInput_c423ff,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .textarea_dde0a8:not(.note__7a4f4 textarea),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .textarea_dde0a8:focus,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .listRow_e4be58:hover,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .profileBadges_f89da9,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .badgeList__76720,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .note__7a4f4 textarea:focus,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .divider-2dDziJ,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .textarea_dde0a8,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .textarea_dde0a8:focus,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .listRow_e4be58:hover {
	background-color: var(--profile-gradient-secondary-color);
}

.custom-profile-theme .footer_be6801,.userProfileModalOuter__90b4a:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider__7116f,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .divider__7116f,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .tabBarContainer_b9fccc,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .mutualFriendsDivider__2c616,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .userInfoSection_f3eb60+.userInfoSection_f3eb60,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .connectedAccountContainer_f3eb60 {
	border-color: var(--profile-gradient-secondary-color);
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_a0 .themed_a0.item_a0:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .top_a0 .selected_a0.themed_a0.item_a0 {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85 .buttonColor_b3c4e5,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85 .buttonColor_b3c4e5,.userProfileOuterThemed_c69a7b .wrapper .controls .caret,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .wrapper .controls .caret,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .wrapper .controls .caret,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85 .buttonColor_b3c4e5:hover:not(:disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85 .buttonColor_b3c4e5:hover:not(:disabled),.userProfileOuterThemed_c69a7b .wrapper .controls .caret:hover:not(.disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .wrapper .controls .caret:hover:not(.disabled),.userProfileInnerThemedPremiumWithoutBanner_c69a7b .wrapper .controls .caret:hover:not(.disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.colorGreen__75c93:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .divider__979dc,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .divider__979dc,.premiumIconWrapper_c3e427 .textBadge_df8943,.userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .userPanelInnerThemed_c69a7b .dotSpacer_f8ba0a,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .dotSpacer_f8ba0a,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .dotSpacer_f8ba0a {
	background-color: var(--profile-gradient-secondary-color)!important;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .scrollerSeparator_d8843a,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .scrollerSeparator_d8843a{
	box-shadow: 0 -1px 0 var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .colorBrand_dd4f85,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .colorBrand_dd4f85:disabled,.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .colorBrand_dd4f85,.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .colorBrand_dd4f85:disabled,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .colorBrand_dd4f85,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .colorBrand_dd4f85:disabled,.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .buttonColor_cd74cc,.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .buttonColor_cd74cc,.userProfileInnerThemedPremiumWithoutBanner_c69a7b .buttonColor_cd74cc {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .colorBrand_dd4f85:hover:not(:disabled),.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .colorBrand_dd4f85:hover:not(:disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .colorBrand_dd4f85:hover:not(:disabled),.chat__52833 .userProfileOuterThemed_c69a7b:not([style*="background-secondary-alt"]) .buttonColor_cd74cc:hover:not(:disabled),.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .buttonColor_cd74cc:hover:not(:disabled),.userProfileInnerThemedPremiumWithoutBanner_c69a7b .buttonColor_cd74cc:hover:not(:disabled){
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%
}

.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .wrapper .controls,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .wrapper .controls,
.userProfileOuterThemed_c69a7b .wrapper .controls {
	background-color: var(--profile-gradient-primary-color);
}

.custom-profile-theme .tabBar_c1519f {
	border-color: var(--profile-gradient-secondary-color);
}

.custom-profile-theme .top_a0 .brand_a0.item_a0:hover, 
.custom-profile-theme .top_a0 .selected_a0.themed_a0.item_a0, 
.custom-profile-theme .top_a0 .themed_a0.item_a0:hover, 
.custom-profile-theme .top_a0 .themed_a0.item_a0:active {
	border-image: linear-gradient(to right, var(--profile-gradient-secondary-color), var(--profile-gradient-secondary-color)) 1;
}

.custom-profile-theme .showMoreButton_c83b44.pill_c83b44,.custom-profile-theme .statusBubble_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252:before, .custom-profile-theme .statusBubbleOuter_d0a252:after,.custom-profile-theme .divider__979dc,.custom-profile-theme .listRow_e4be58:hover,.custom-profile-theme .container_e5a42d,.custom-profile-theme .role_f9575e,.custom-profile-theme .note_c2dcc6 textarea:focus {
	background-color: var(--profile-gradient-secondary-color) !important;
}

.custom-profile-theme .themedBackground_d0696b {
	background: var(--bg-overlay-5,var(--profile-gradient-secondary-color)) !important;
}

.theme-dark.custom-profile-theme .lookFilled_dd4f85.actionColor_fc39e7,
.theme-light.custom-profile-theme .lookFilled_dd4f85.actionColor_fc39e7,
.theme-dark.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:not(.color_f1cdcc.banner_f1cdcc),
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:not(.color_f1cdcc.banner_f1cdcc),
.theme-dark.custom-profile-theme .lookFilled_dd4f85.colorBrand_dd4f85,
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorBrand_dd4f85,
.theme-dark.custom-profile-theme .lookFilled_dd4f85.buttonColor__8c13f,
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor__8c13f,
.theme-dark.custom-profile-theme .lookFilled_dd4f85.buttonColor_cd74cc,
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_cd74cc,
.theme-dark.custom-profile-theme .lookFilled_dd4f85.buttonColor_b3c4e5,
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_b3c4e5,
.userProfileOuterThemed_c69a7b .giftButton__0988e,
.userProfileOuterThemed_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5,
.userProfileOuterThemed_c69a7b:not([style*=background-secondary-alt]) .lookFilled_dd4f85.buttonColor_b3c4e5,
.userProfileOuterThemed_c69a7b .userProfileInnerThemedWithBanner_e9e7c5 .giftButton__0988e,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .giftButton__0988e {
	background-color: rgba(0, 0, 0, .5) !important;
	border: 2px solid var(--profile-gradient-secondary-color) !important;
	border-radius: 6px !important;
	color: #fff !important;
}

.theme-dark.custom-profile-theme .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),
.theme-dark.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled):not(.color_f1cdcc.banner_f1cdcc),
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled):not(.color_f1cdcc.banner_f1cdcc),
.theme-dark.custom-profile-theme .lookFilled_dd4f85.colorBrand_dd4f85:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorBrand_dd4f85:hover:not(:disabled),
.theme-dark.custom-profile-theme .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),
.theme-dark.custom-profile-theme .lookFilled_dd4f85.buttonColor_cd74cc:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_cd74cc:hover:not(:disabled),
.theme-dark.custom-profile-theme .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.userProfileOuterThemed_c69a7b .giftButton__0988e:hover,
.userProfileOuterThemed_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.userProfileOuterThemed_c69a7b:not([style*=background-secondary-alt]) .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.userProfileOuterThemed_c69a7b .userProfileInnerThemedWithBanner_e9e7c5 .giftButton__0988e:hover:not(:disabled),
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .giftButton__0988e:hover:not(:disabled) {
	color: #fff !important;
	border: 2px solid transparent !important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right, var(--profile-gradient-secondary-color), var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:not(.color_f1cdcc.banner_f1cdcc),
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled):not(.color_f1cdcc.banner_f1cdcc),
.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5,
.theme-light.userProfileOuter_c69a7b:not([style*="background-secondary-alt"]) .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.actionColor_fc39e7,
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.actionColor_fc39e7:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_b3c4e5,
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_b3c4e5:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor__8c13f,
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor__8c13f:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_cd74cc:hover:not(:disabled),
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_cd74cc:hover:not(:disabled),
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_cd74cc,
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_cd74cc:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.actionColor_fc39e7,
.theme-light.custom-profile-theme .lookFilled_dd4f85.actionColor_fc39e7:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85,
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorPrimary_dd4f85:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorBrand_dd4f85,
.theme-light.custom-profile-theme .lookFilled_dd4f85.colorBrand_dd4f85:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor__8c13f,
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor__8c13f:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_cd74cc,
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_cd74cc:hover:not(:disabled),
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_b3c4e5,
.theme-light.custom-profile-theme .lookFilled_dd4f85.buttonColor_b3c4e5:hover:not(:disabled),
.chat__52833 .theme-light.userProfileOuterThemed_c69a7b .buttonColor_cd74cc,
.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled_dd4f85.buttonColor_cd74cc,
.theme-light .userProfileInnerThemedPremiumWithoutBanner_c69a7b .lookFilled_dd4f85.buttonColor_cd74cc {
	color: #060607 !important;
}

.custom-profile-theme .connectedAccountContainer_f3eb60,
.custom-profile-theme .menu_ad5fac div[role=separator] {
	border-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .roleFlowerStar_b2d3a1[style*="width: 14px; height: 14px;"],
.userProfileInnerThemedWithBanner_e9e7c5 .roleFlowerStar_b2d3a1[style*="width: 14px; height: 14px;"] {
	margin-top: auto;
	margin-bottom: auto;
}

.userProfileInnerThemedPremiumWithoutBanner_c69a7b .avatarWrapper__0cd44,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .avatar__445f3,
.userProfileInnerThemedWithBanner_e9e7c5 .avatarWrapper__0cd44,
.userProfileInnerThemedWithBanner_e9e7c5 .avatar__445f3,
.userProfileOuterThemed_c69a7b .avatarWrapper__0cd44,
.custom-profile-theme .avatar_bc9cc2,
.custom-profile-theme .clickable_cc54d6,
.custom-profile-theme .avatar_f94206,
.custom-profile-theme .clickable_f26c88,
.custom-profile-theme .avatar_f18fcb {
	border: 7px solid var(--profile-avatar-border-color);
	background-color: var(--profile-avatar-border-color);
	border-radius: 12px;
}

.userProfileInnerThemedWithBanner_e9e7c5 .menu_d90b3d,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .menu_d90b3d,
.custom-profile-theme .menu_d90b3d {
	background: var(--profile-gradient-primary-color) !important;
}

.userProfileInnerThemedWithBanner_e9e7c5 .divider__07b2a,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .divider__07b2a,
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .menu_ad5fac .colorDefault_d90b3d.focused_d90b3d:not(.hideInteraction_d90b3d),
.userProfileInnerThemedWithBanner_e9e7c5 .menu_ad5fac .colorDefault_d90b3d.focused_d90b3d:not(.hideInteraction_d90b3d),
.userProfileInnerThemedPremiumWithoutBanner_c69a7b .menu_ad5fac .colorDefault_d90b3d:active:not(.hideInteraction_d90b3d),
.userProfileInnerThemedWithBanner_e9e7c5 .menu_ad5fac .colorDefault_d90b3d:active:not(.hideInteraction_d90b3d),
.custom-profile-theme .divider__07b2a,
.custom-profile-theme .menu_ad5fac .colorDefault_d90b3d.focused_d90b3d:not(.hideInteraction_d90b3d),
.custom-profile-theme .menu_ad5fac .colorDefault_d90b3d:active:not(.hideInteraction_d90b3d),
.custom-profile-theme .divider_e3d8a6 {
	background: var(--profile-gradient-secondary-color);
}

.theme-dark.custom-profile-theme .activity_cd74cc {
	background: var(--profile-gradient-primary-color);
}

.custom-profile-theme .button_edead5 {
	background-color: var(--profile-gradient-secondary-color) !important;
}

.custom-profile-theme .profileAvatar_f4a859 {
	background-color: var(--profile-avatar-border-color);
	border: 7px solid var(--profile-avatar-border-color);
	border-radius: 12px;
}
