.theme-light .overlayBackground__345c9 {
	background-color: #fff;
}

.userProfileInnerThemedWithBanner_e9e7c5 .role_d81130,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .role_d81130{
    background-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedWithBanner_e9e7c5 .member-perms .role_d81130,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .member-perms .role_d81130{
    background-color: var(--profile-gradient-secondary-color);
}

.theme-light .addButtonIcon__8ad56 path {
    fill: #2e3338;
}

.userProfileInnerThemedWithBanner_e9e7c5 .note_ba0c31 .textarea__0461c,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .note_ba0c31 .textarea__0461c,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .note_ba0c31 .textarea__0461c:hover,.userProfileInnerThemedWithBanner_e9e7c5 .note_ba0c31 .textarea__0461c:hover{
    background: var(--profile-gradient-secondary-color)!important;
    border: none!important;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .note_ba0c31 textarea:focus,.userProfileInnerThemedWithBanner_e9e7c5 .note_ba0c31 textarea:focus {
    background: var(--profile-gradient-secondary-color)!important;
    border: none!important;
}

.userProfileInnerThemedWithBanner_e9e7c5 .messageInputContainer_a93946,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .messageInputContainer_a93946,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .messageInputContainer_a93946:hover,.userProfileInnerThemedWithBanner_e9e7c5 .messageInputContainer_a93946:hover{
    background: var(--profile-gradient-secondary-color)!important;
    border: none!important;
}

.userProfileOuterThemed_a425f3 .badgeList__76720{
    background: var(--profile-gradient-secondary-color);
}

.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632,.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:disabled {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #fff!important
}

.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
    color: #fff!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:disabled {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #fff!important
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
    color: #fff!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
}

.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632,.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:disabled {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #060607!important
}

.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
    color: #060607!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:disabled,.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:disabled {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #060607!important
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.colorPrimary_ebe632:hover:not(:disabled) {
    color: #060607!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%;
}

.userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda,.userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .themed_b957e8.item__48dda:active,.userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .themed_b957e8.item__48dda:hover {
    border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .top_fae1fa .themed_b957e8.item__48dda:active,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .top_fae1fa .themed_b957e8.item__48dda:hover {
    border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .connections-2K6Bu6:hover, .userProfileInnerThemedWithBanner_e9e7c5 .connections-2K6Bu6:hover {
    background: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color))!important;
}

.premiumIconWrapper__7793e .textBadge_f05120 {
    background-color: var(--profile-gradient-secondary-color)!important;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .profileBadges__1f2ab,.userProfileInnerThemedWithBanner_e9e7c5 .profileBadges__1f2ab{
    background: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .badgeList__126b0,.userProfileInnerThemedWithBanner_e9e7c5 .badgeList__126b0{
    background: var(--profile-gradient-secondary-color);
}

.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .textarea__0461c,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .textarea__0461c:focus,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .listRow__50619:hover {
    background: linear-gradient(var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color))
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .connectedAccountVanityMetadataTag-19Al5z,.userProfileInnerThemedWithBanner_e9e7c5 .connectedAccountVanityMetadataTag-19Al5z {
    background-color: var(--profile-gradient-secondary-color);
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__6f6b0,.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__6f6b0 {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #fff!important;
}

.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__6f6b0:hover:not(:disabled),.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__6f6b0:hover:not(:disabled) {
    color: #fff!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__6f6b0,.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__6f6b0 {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #2e3338!important;
}

.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__6f6b0:hover:not(:disabled),.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__6f6b0:hover:not(:disabled) {
    color: #2e3338!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%
}

.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor__21cca,.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor__21cca {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #fff!important
}

.theme-dark .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor__21cca:hover:not(:disabled),.theme-dark .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor__21cca:hover:not(:disabled) {
    color: #fff!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%
}

.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor__21cca,.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor__21cca {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #fff!important
}

.theme-light .userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.actionColor__21cca:hover:not(:disabled),.theme-light .userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.actionColor__21cca:hover:not(:disabled) {
    color: #fff!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%
}

.chat__52833 .userProfileOuterThemed_a425f3 .buttonColor__01bf8,.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__01bf8,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__01bf8 {
    background-color: rgba(0,0,0,.5)!important;
    border: 2px solid var(--profile-gradient-secondary-color)!important;
    border-radius: 6px!important;
    color: #fff!important
}

.chat__52833 .userProfileOuterThemed_a425f3 .buttonColor__01bf8:hover:not(:disabled),.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.buttonColor__01bf8:hover:not(:disabled),.userProfileInnerThemedPremiumWithoutBanner_ee8277 .lookFilled__950dd.buttonColor__01bf8:hover:not(:disabled) {
    color: #fff!important;
    border: 2px solid transparent!important;
    background-color: var(--profile-gradient-secondary-color);
    background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 200%
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .listRow__50619:hover,.userProfileInnerThemedWithBanner_e9e7c5 .listRow__50619:hover {
    background: var(--profile-gradient-secondary-color)
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .textarea__0461c:focus,.userProfileInnerThemedWithBanner_e9e7c5 .textarea__0461c:focus {
    background: var(--profile-gradient-secondary-color)
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .menu-2-eHMB .colorDefault_e361cf.focused_dcafb9:not(.hideInteraction__0b569),.userProfileInnerThemedWithBanner_e9e7c5 .menu-2-eHMB .colorDefault_e361cf.focused_dcafb9:not(.hideInteraction__0b569),.userProfileInnerThemedPremiumWithoutBanner_ee8277 .menu-2-eHMB .colorDefault_e361cf:active:not(.hideInteraction__0b569),.userProfileInnerThemedWithBanner_e9e7c5 .menu-2-eHMB .colorDefault_e361cf:active:not(.hideInteraction__0b569) {
    background-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedWithBanner_e9e7c5 .menu-2TXYjN,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .menu-2TXYjN {
    background-color: var(--profile-gradient-primary-color);
}

.userCardInner_d6aa46.userProfileInnerThemedPremiumWithoutBanner_ee8277,.userCardInner_d6aa46.userProfileInnerThemedWithBanner_e9e7c5 {
    background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 90px,var(--profile-gradient-secondary-color));
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .akaBadge-ep3q0P,.userProfileInnerThemedWithBanner_e9e7c5 .akaBadge-ep3q0P,.userPanelOuter-XfFELn.userProfileOuterThemed_a425f3 .akaBadge-ep3q0P {
    background-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider-SH6OnO,.userProfileInnerThemedWithBanner_e9e7c5 .divider-SH6OnO,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .tabBarContainer_b283be,.userProfileInnerThemedWithBanner_e9e7c5 .tabBarContainer_b283be {
    border-color: var(--profile-gradient-secondary-color);
}

.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .divider_d6f39c,.userProfileOuterThemed_a425f3 .badgeList__76720,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider_d6f39c,.userProfileInnerThemedWithBanner_e9e7c5 .divider_d6f39c,.userProfileInnerThemedWithBanner_e9e7c5 .divider-2dDziJ,.userProfileInnerThemedWithBanner_e9e7c5 .messageInput-1enlaJ,.userProfileInnerThemedWithBanner_e9e7c5 .textarea__0461c:not(.note__7a4f4 textarea),.userProfileInnerThemedWithBanner_e9e7c5 .textarea__0461c:focus,.userProfileInnerThemedWithBanner_e9e7c5 .listRow__50619:hover,.userProfileInnerThemedWithBanner_e9e7c5 .profileBadges__1f2ab,.userProfileInnerThemedWithBanner_e9e7c5 .badgeList__76720,.userProfileInnerThemedWithBanner_e9e7c5 .note__7a4f4 textarea:focus,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .divider-2dDziJ,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .textarea__0461c,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .textarea__0461c:focus,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .listRow__50619:hover {
	background-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedWithBanner_e9e7c5 .tabBarContainer_b283be,.userProfileOuterThemed_a425f3 .mutualFriendsDivider__2c616,.userProfileInnerThemedWithBanner_e9e7c5 .userInfoSection_e816c1+.userInfoSection_e816c1,.userProfileInnerThemedWithBanner_e9e7c5 .connectedAccountContainer__5972d {
	border-color: var(--profile-gradient-secondary-color);
}

.userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .themed_b957e8.item__48dda:hover {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedWithBanner_e9e7c5 .top_fae1fa .selected_a523ff.themed_b957e8.item__48dda {
	border-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color)) 1;
}

.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93,.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:disabled {
	background-color: rgba(0,0,0,.5)!important;
	border: 2px solid var(--profile-gradient-secondary-color)!important;
	border-radius: 6px!important;
	color: #fff!important
}

.userProfileInnerThemedWithBanner_e9e7c5 .lookFilled__950dd.colorGreen__75c93:hover:not(:disabled) {
	color: #fff!important;
	border: 2px solid transparent!important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right,var(--profile-gradient-secondary-color),var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .divider__979dc,.userProfileInnerThemedWithBanner_e9e7c5 .divider__979dc,.premiumIconWrapper__7793e .textBadge_f05120,.userProfileOuterThemed_a425f3 .userPanelInnerThemed__651e4 .dotSpacer_f8ba0a,.userProfileInnerThemedPremiumWithoutBanner_ee8277 .dotSpacer_f8ba0a,.userProfileInnerThemedWithBanner_e9e7c5 .dotSpacer_f8ba0a {
	background-color: var(--profile-gradient-secondary-color)!important;
}

.userProfileInnerThemedPremiumWithoutBanner_ee8277 .scrollerSeparator_d8843a,.userProfileInnerThemedWithBanner_e9e7c5 .scrollerSeparator_d8843a{
	box-shadow: 0 -1px 0 var(--profile-gradient-secondary-color);
}
