.custom-user-profile-theme .footer__537ec {
	border-color: var(--profile-gradient-secondary-color);
}

.custom-user-profile-theme .tabBar_d1d9f3 {
	border-color: var(--profile-gradient-secondary-color) !important;
}

.custom-user-profile-theme .top_b3f026 .brand_b3f026.item_b3f026:hover,
.custom-user-profile-theme .top_b3f026 .selected_b3f026.themed_b3f026.item_b3f026,
.custom-user-profile-theme .top_b3f026 .themed_b3f026.item_b3f026:hover,
.custom-user-profile-theme .top_b3f026 .themed_b3f026.item_b3f026:active {
	border-image: linear-gradient(to right, var(--profile-gradient-secondary-color), var(--profile-gradient-secondary-color)) 1;
}

.custom-user-profile-theme .collapseButton_fccfdf.pill_fccfdf,
.custom-user-profile-theme .expandButton_fccfdf.pill_fccfdf,
.custom-user-profile-theme .statusBubble_af9888,
.custom-user-profile-theme .statusBubbleOuter_af9888,
.custom-user-profile-theme .statusBubbleOuter_af9888:before,
.custom-user-profile-theme .statusBubbleOuter_af9888:after,
.custom-user-profile-theme .divider__979dc,
.custom-user-profile-theme .listRow__9d78f:hover,
.custom-user-profile-theme .row__0a95c:hover,
.custom-user-profile-theme .row__89036:hover,
.custom-user-profile-theme .container__8061a,
.custom-user-profile-theme .role_dfa8b6,
.custom-user-profile-theme .note_fcb628 textarea:focus,
.custom-user-profile-theme .profileNote__9c3be textarea:focus {
	background-color: var(--profile-gradient-secondary-color) !important;
}

.visual-refresh .custom-user-profile-theme .inlineContainer__74017 .themedBackground__74017 {
	background: var(--bg-overlay-5, var(--profile-gradient-secondary-color)) !important;
}

.theme-dark.custom-user-profile-theme .showMoreButton__84832,
.theme-light.custom-user-profile-theme .showMoreButton__84832,
.theme-dark.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7,
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7,
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:not(.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:not(.color_f9d37d.banner_fb7f94),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:disabled:not(.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:disabled:not(.color_f9d37d.banner_fb7f94),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5[aria-disabled=true]:not(.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5[aria-disabled=true]:not(.color_f9d37d.banner_fb7f94),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5,
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5,
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:disabled,
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:disabled,
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5[aria-disabled=true],
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5[aria-disabled=true],
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b,
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225,
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225 {
	background-color: rgba(0, 0, 0, .5) !important;
	border: 2px solid var(--profile-gradient-secondary-color) !important;
	border-radius: 6px !important;
	color: #fff !important;
}

.theme-dark.custom-user-profile-theme .showMoreButton__84832:hover:not(:disabled),
.theme-light.custom-user-profile-theme .showMoreButton__84832:hover:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:hover:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:hover:not(:disabled,.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:hover:not(:disabled,.color_f9d37d.banner_fb7f94),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:hover:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:hover:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:hover:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:hover:not(:disabled),
.theme-dark.custom-user-profile-theme .showMoreButton__84832:active:not(:disabled),
.theme-light.custom-user-profile-theme .showMoreButton__84832:active:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:active:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:active:not(:disabled,.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:active:not(:disabled,.color_f9d37d.banner_fb7f94),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:active:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:active:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:active:not(:disabled),
.theme-dark.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:active:not(:disabled) {
	color: #fff !important;
	border: 2px solid transparent !important;
	background-color: var(--profile-gradient-secondary-color);
	background-image: linear-gradient(to right, var(--profile-gradient-secondary-color), var(--profile-gradient-secondary-color));
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
}

.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:not(.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:hover:not(:disabled,.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7,
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5,
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5,
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:hover:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:active:not(:disabled,.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:active:not(:disabled),
.theme-light.custom-user-profile-theme .lookFilled__201d5.actionColor_fc39e7:disabled,
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:disabled,
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorBrand__201d5:disabled,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_dfbe6b:disabled,
.theme-light.custom-user-profile-theme .lookFilled__201d5.buttonColor_f00225:disabled {
	color: #060607 !important;
}

.custom-user-profile-theme .connectedAccountContainer_e6abe8,
.custom-user-profile-theme .menu_ad5fac div[role=separator] {
	border-color: var(--profile-gradient-secondary-color);
}

.custom-user-profile-theme .menu_c1e9c4,
.custom-user-profile-theme .menuOverlay_af7fb7 {
	background: var(--profile-gradient-primary-color) !important;
}

.custom-user-profile-theme .divider_b9fccc,
.custom-user-profile-theme .menu_ad5fac .colorDefault_c1e9c4.focused_c1e9c4:not(.hideInteraction_c1e9c4),
.custom-user-profile-theme .menu_ad5fac .colorDefault_c1e9c4:active:not(.hideInteraction_c1e9c4),
.custom-user-profile-theme .divider__23eb0,
.custom-user-profile-theme .menuOverlay_af7fb7 .menuItemColor_af7fb7:hover,
.custom-user-profile-theme .menuDivider_af7fb7
.custom-user-profile-theme .voiceChannelDivider__39ec2 {
	background: var(--profile-gradient-secondary-color);
}

.theme-dark.custom-user-profile-theme .activity_f00225 {
	background: var(--profile-gradient-primary-color);
}

.custom-user-profile-theme .button__7d7f7 {
	background-color: var(--profile-gradient-secondary-color) !important;
}

.custom-user-profile-theme .wrapper_f7ecac {
	background-color: var(--profile-gradient-primary-color) !important;
	box-shadow: 0 0 16px 8px rgba(0, 0, 0, .5) !important;
}

.custom-user-profile-theme .button_f7ecac:hover,
.custom-user-profile-theme .button_f7ecac:active,
.custom-user-profile-theme .button_f7ecac[aria-expanded=true],
.custom-user-profile-theme .button_f7ecac.selected_f7ecac {
	background-color: var(--profile-gradient-secondary-color) !important;
}

.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:not(.color_f9d37d.banner_fb7f94),
.theme-light.custom-user-profile-theme .lookFilled__201d5.colorPrimary__201d5:disabled:not(.color_f9d37d.banner_fb7f94) {
	color: #060607 !important;
}

.custom-user-profile-theme .container_ab8609 {
	--custom-status-bubble-background-color: var(--profile-gradient-secondary-color);
	--custom-status-bubble-background: var(--profile-gradient-secondary-color);
}

.custom-user-profile-theme .avatar_bc9cc2:not(.withReactReply__75742),
.custom-user-profile-theme .clickable_cc54d6:not(.withReactReply__75742),
.custom-user-profile-theme .avatar__75742:not(.withReactReply__75742),
.custom-user-profile-theme .clickable_f26c88:not(.withReactReply__75742),
.custom-user-profile-theme .avatar_f9d668:not(.withReactReply__75742) {
	border: 7px solid var(--profile-gradient-primary-color) !important;
	background-color: var(--profile-gradient-primary-color) !important;
}

.custom-user-profile-theme .profileAvatar__89307:not(.withReactReply__75742) {
	background-color: var(--profile-gradient-primary-color) !important;
	border: 7px solid var(--profile-gradient-primary-color) !important;
}

.custom-user-profile-theme .top_b3f026,
.custom-user-profile-theme .footer__7f9c0 {
	border-color: var(--profile-gradient-secondary-color) !important;
}

.theme-light .button_f7ecac {
	color: var(--interactive-normal) !important;
}

.custom-user-profile-theme .container_ab8609,
.custom-user-profile-theme .inner_ab8609,
.custom-user-profile-theme .container_ab8609.editable_ab8609:hover,
.custom-user-profile-theme .visual-refresh .container_ab8609 {
	--custom-status-bubble-background-color: var(--profile-gradient-secondary-color) !important;
	--custom-status-bubble-background: var(--profile-gradient-secondary-color) !important;
}

.custom-user-profile-theme .top_b3f026 .item_b3f026 {
	--selected-tab-item-color: var(--profile-gradient-secondary-color) !important;
}

.custom-user-profile-theme .overflowCount_e928f4,
.visual-refresh .custom-user-profile-theme .inlineContainer__74017:not(.flushContainer__74017) {
	background-color: var(--profile-gradient-primary-color) !important;
}

.custom-user-profile-theme .top_b3f026 .item_b3f026.selected_b3f026 {
	color: var(--profile-gradient-secondary-color) !important;
}

.custom-user-profile-theme .avatar_bc9cc2:not(.withReactReply__75742),
.custom-user-profile-theme .clickable_cc54d6:not(.withReactReply__75742),
.custom-user-profile-theme .clickable_f26c88:not(.withReactReply__75742),
.custom-user-profile-theme .avatar_d28e10:not(.withReactReply__75742),
.custom-user-profile-theme .avatar__75742:not(.withReactReply__75742),
.user-profile-modal-v2.custom-user-profile-theme .avatar__75742:not(.withReactReply__75742) {
	border: 7px solid color-mix(in oklab,var(--profile-gradient-overlay-color) 100%,var(--profile-gradient-primary-color) 72%) !important;
	background-color: color-mix(in oklab,var(--profile-gradient-overlay-color) 100%,var(--profile-gradient-primary-color) 72%) !important;
}

.user-profile-popout.custom-user-profile-theme .avatar__75742:not(.withReactReply__75742),
.user-profile-sidebar.custom-user-profile-theme .avatar__75742:not(.withReactReply__75742) {
	border: 7px solid color-mix(in oklab,var(--profile-gradient-primary-color) 75%,var(--profile-gradient-overlay-color) 100%) !important;
	background-color: color-mix(in oklab,var(--profile-gradient-primary-color) 75%,var(--profile-gradient-overlay-color) 100%) !important;
}

.theme-dark.custom-user-profile-theme .container_e928f4 {
	background: var(--profile-gradient-secondary-color);
}

.theme-dark.custom-user-profile-theme .showMoreButton__84832,
.theme-light.custom-user-profile-theme .showMoreButton__84832 {
	border-radius: 0 0 6px 6px !important;
}
