/* 🛩️ Airplane */
[style*='background-image: url("/assets/bb9dbec63310ef1d5269.svg");'],
[style*='background-image: url("/assets/56b4ca8deff0b44cbc6f.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/airplane.svg") !important;
}

/* 🕹️ Arcades */
[style*='background-image: url("/assets/3b6c4f5175af3e9b7270.svg");'],
[style*='background-image: url("/assets/92742b32a01aa24e12ce.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/arcades.svg") !important;
}

/* 🔨 Ban Hammer */
[style*='background-image: url("/assets/cda085d959d7040960ca.svg");'],
[style*='background-image: url("/assets/9927535f3a57b86a89ca.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ban_hammer.svg") !important;
}

/* 🚀 Boost */
.theme-dark .channelNotice-3-mDJt {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/boost.svg");
	background-repeat: no-repeat;
}

/* 🔎💥 Broken magnifying glass */
.theme-dark .errorImage_c2b47d{
	background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/broken.svg")
	center/cover;
}

/* 🏰 Castle */
.theme-dark .verification_cdbc7c .image_cdbc7c{
	background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/castle.svg") 50%/80%
	no-repeat;
}

/* ⚙️ Channel settings here and u didn't finished */
[src="/assets/490943c0bf8c5298a2a5.svg"],
[src="/assets/8bd0c5b096e166c5857f.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/channel_settings.svg");
}

/* ⚙️ Category settings */
[src="/assets/a221ecd0f9f14fe4d0b1.svg"],
[src="/assets/ec411ddc89957ad4437f.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/category_settings.svg");
}

/* 👥 🖼️ Community banner */
.previewCard-DOrO3c .splashImage-352DQ1 {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/community_banner.svg");
}

/* 🖥️ Computer */
[style*='background-image: url("/assets/71792026f672985a033d.svg");'],
[style*='background-image: url("/assets/4dae9f6eefe1407c3cec.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/computer.svg") !important;
}

/* 💥 Crash */
.theme-dark .image_a2a7b5 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/crash.svg");
}

/* 🎮 Developer Options */
[style*='background-image: url("/assets/fe00d138a10c4d10a245.svg");'],
[style*='background-image: url("/assets/e39ad82e6a363d79f2a9.svg");']  {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/dev_options.svg") !important;
}

/* 😃 Emojis */
[style*='background-image: url("/assets/1248c5404ae1ad9c1e18.svg");'],
[style*='background-image: url("/assets/96e2639de7bec6a0f7e5.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/emojis.svg") !important;
}

/* 📭 Empty */
.theme-dark .image_bbfa4c, .theme-dark .emptyImage_e37a20 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/empty.svg");
}

/* 😊 Friend */
.theme-dark .channelNotice-tO6Tus.invite-OjTXrW{
	background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/friend.svg") no-repeat center 20px;
	background-size: 40%;
}

[src*='/assets/742323d36ad1c45d0c2b.svg'] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/friend.svg") !important;
}

/* 🤷‍♂️ GIF not found */
.theme-dark .sadImage_e78f9e {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/gif_not_found.svg");
}

/* 🤷‍ GIF picker end */
.theme-dark .endContainer_bad108::after{
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/gif_picker_end.svg");
}

/* 👥 Groups */
.theme-dark .noFriends_e6af9c .errorStateIcon_e6af9c {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/groups.svg");
}

/* 🎁 Gift Inventory */
.theme-dark .emptyStateImage_e8af36, .theme-dark .emptyWumpus_f1629a {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/gift_inventory.svg");
}

/* 🏠 Houses */
.theme-dark .emptyIconGuilds_e4be58 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/houses.svg");
}

/* ✨ Integrations */
.theme-dark .footerImage_fab929 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/integrations.svg");
}

/* 🔑 Key */
.theme-dark .channelNotice-tO6Tus.guildMFAWarning-3GEzs8 {
	background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/key.svg") no-repeat center 20px;
	background-size: 40%;
}

[src*='/assets/b0d61e799f6e94da5d87.svg'] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/key.svg") !important;
}

/* ❌ No channel */
[style*='background-image: url("/assets/8dc24c1fbe75eed7a12c.svg");'],
[style*='background-image: url("/assets/14a2f3e448f5b6db0727.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_channel.svg") !important;
}

/* ⌨️ No keybinds */
[style*='background-image: url("/assets/12d9bda733d6432d605e8011c22c3e56.svg");'],
[style*='background-image: url("/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_keybinds.svg") !important;
}

/* 🙁 No Mutuals */
.theme-dark .emptyIconFriends_e4be58{
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_mutuals.svg");
	background-size: 100%;
}

/* 🔎 🗣️ No results conversation */
.theme-dark .emptyState_f4e139 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_results_conv.svg");
	background-size: 20%;
}

/* 🔎 No results search bar*/
.theme-dark .noResultsImage_c2b47d {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_results.svg");
}

/* 📱 Phones */
.theme-dark .verificationBlock__2ee71 .image_cdbc7c.phone__0b460 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/phones.svg");
}

/* 🖼️ Pictures */
[style*='background-image: url("/assets/59848dfca28e69ff3553.svg");'],
[style*='background-image: url("/assets/923ebe1687af3952c1c5.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/pictures.svg") !important;
}

/* 📌 Pinned */
[style*='background-image: url("/assets/47d3ea2d7721c75ea6cb.svg");'],
[style*='background-image: url("/assets/34224ab48bff9727f3f8.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/pinned.svg") !important;
}

/* 💩 Poop */
.theme-dark .invalidPoop_ff31dd, .theme-dark .guildIconExpired_a71a1c {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/poop.svg");
}

.theme-dark .imageError_d4597d,[src*="/assets/cdccee83bde523baf3d5.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/poop.svg")
}

/* 📜 Scroll */
[style*='background-image: url("/assets/90d76146cf8dc0c17b19.svg");'],
[style*='background-image: url("/assets/c2d3560eaed920451bc5.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/scroll.svg") !important;
}

/* 🔎 Searching */
.theme-dark .searchIndexBackground_faff47 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/searching.svg");
}

/* 🔥 Server outage */
.theme-dark .art-_juKdZ{
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/server_outage.svg");
}

/* 🟢 Spotify error */
.theme-dark .artworkSpotifySessionEnded_f61cb8 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/spotify_error.svg");
}

/* 🤷‍♂️ Sticker not found */
[style*='background-image: url("/assets/a3e663da53e95a625733.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/sticker_not_found.svg") !important;
}

/* 🔴 Streamer Mode */
.theme-dark .streamerModeEnabledImage_c50c8b, .theme-dark .emptyIconStreamerMode_e4be58 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/streamer_mode.svg");
}

/* ↔️ Switch */
.theme-dark .channelNotice-tO6Tus.quickswitcher-35bYg4 {
	background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/switch.svg")
	no-repeat center 20px;
}

/* 📹 Test Video */
.theme-dark .previewImage_ff1ac9 {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/test_video.svg");
}

/* 🗝️ Treasure Chest */
[src="/assets/9b1b9ee4868c262e7351.svg"],
[src="/assets/037d2a13146a63934803.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/treasure_chest.svg");
}

/* 🎁 Unclaimed */
.theme-dark .imageUnclaimed-5nJyYs {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/unclaimed.svg");
}

/* 🔊 Vocal full */
.fullArt-KDeDyg {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/vocal_full.svg");
	background-size: 100%;
}

/* ⛏️ Wumpus Mining */
[style*='background-image: url("/assets/99ad5845cf7de1c326e2.svg");'],
[style*='background-image: url("/assets/d0f702aca4098329ef14.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_mining.svg") !important;
}

/* 🗻 Wumpus Mountains */
[style*='background-image: url("/assets/04e2c9489e75f5614205.svg");'],
[style*='background-image: url("/assets/7ff5a96a1c84092e629e.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_mountain.svg") !important;
}

.noResultsContainer_b7560d > div:first-child,
.noResultsContainer_dd2627 > div:first-child {
	width: 200px;
	height: 100px;
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_mountain.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
  
.noResultsContainer_b7560d > div:first-child svg,
.noResultsContainer_dd2627 > div:first-child svg {
	display: none;
}

/* 💤 Wumpus Sleeping */
[style*='background-image: url("/assets/dcbf373925d18e337c98.svg");'],
[style*='background-image: url("/assets/1641b16ec6ac0c4e733d.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_sleeping.svg") !important;
}

/* 🍵 Wumpus Tea Party */
[style*='background-image: url("/assets/2c264379b38bf71b8358.svg");'],
[style*='background-image: url("/assets/e61cb3f7d0bd4dc1a78b.svg");'],
.theme-dark .notFriends_e6af9c .errorStateIcon_e6af9c {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_tea_party.svg") !important;
}

/* 💬 Group chat */
[class^="partyFull-"],
.theme-dark .partyFull_e6af9c .errorStateIcon_e6af9c {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/weapons.svg") !important;
}

/* 🏓 @everyone */
.contentWarningPopout_fa823b g > :nth-child(2) > :first-child path {
	fill: #0000003d;
}
.contentWarningPopout_fa823b g > :nth-child(3) > :first-child path {
	fill: #41d0cc;
}
.contentWarningPopout_fa823b g > :nth-child(3) > :nth-child(2) path {
	fill: #22b3bb;
}
.contentWarningPopout_fa823b g > :nth-child(4) > :first-child path {
	fill: #5befef;
}
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(2) path {
	fill: #6af7e5;
}
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(3) path,
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(4) path {
	fill: #48d7d0;
}
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(5) path,
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(6) path {
	fill: #22b3bb;
}
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(7) path {
	fill: #33c5c6;
}
.contentWarningPopout_fa823b g > :nth-child(4) > :nth-child(8) path {
	fill: #6af7e5;
}
.contentWarningPopout_fa823b g > :nth-child(6) > :nth-child(2) path {
	fill: #41d0cc;
}
.contentWarningPopout_fa823b g > :nth-child(10) > :first-child path {
	fill: #e0c310;
}

.contentWarningPopout_fa823b g > :nth-child(11) > :first-child path {
	fill: #fbd907;
}

[src*="/assets/5a82d0404d1612050791.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg")
}

[src*="/assets/311b25874ac56fabe7df.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/070f1b98adc8ce07c7823021133efed5.svg")
}

[src*="/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg")
}

[src*="/assets/0b396e6928f366dc5714e92e47d6bf8a.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/0b396e6928f366dc5714e92e47d6bf8a.svg")
}

[src*="/assets/09ac94260d534ad5175b.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/157ccfe93c91db60adddd48a75b69205.svg")
}

.icon_f847a3.archive_f847a3,.uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.archive_f82cc7,.archive_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/157ccfe93c91db60adddd48a75b69205.svg");
}

[src*="/assets/1b16169ee6f3b942ef7cc96718144bfa.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/1b16169ee6f3b942ef7cc96718144bfa.svg")
}

[src*="/assets/39a7fb525b2593689d328ad7367ee4b5.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/39a7fb525b2593689d328ad7367ee4b5.svg")
}

[src*="/assets/3fba9b3d08682f3ce0344e289fe668cb.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3fba9b3d08682f3ce0344e289fe668cb.svg")
}

[src*="/assets/eb896f1ac06969dfdfe1.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4275f4f043390fa1db37efe36e7a79aa.svg")
}

[src*="/assets/42ece057e516ea23d9fdf4f20552cd65.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/42ece057e516ea23d9fdf4f20552cd65 (1).svg")
}

[src*="/assets/46f302822fa43628962d28f50bb33b01v.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/46f302822fa43628962d28f50bb33b01v.svg")
}

[src*="/assets/487594776f6ebfe57e3ac89d6b3fe437.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/487594776f6ebfe57e3ac89d6b3fe437.svg")
}

[src*="/assets/c0f05b9ccd4bcd4cbc43.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg")
}

[src*="/assets/4ede869e6900fcdb1d61.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/545be34456b41a8695d986221389ea00.svg")
}

[src*="/assets/6cb2268dd459245064ab.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5a6c298c68b5963581a107d420352d07.svg")
}

[src*="/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg")
}

[src*="/assets/63e3655bb034980e94b75c68c0317df1.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/63e3655bb034980e94b75c68c0317df1 (1).svg")
}

[src*="/assets/555cae26d48bf0931948.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/68d65136961706bf6dc2b10a9d997d8a.svg")
}

[src*="/assets/691cf187cd943ed81f043740606878e7.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/691cf187cd943ed81f043740606878e7.svg")
}

[src*="/assets/5f93b8054e2a24e41039.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/750214196f39660492a313dbe5c84fe4.svg")
}

[src*="/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg")
}

[src*="/assets/d23caa1a32fe7bd06a34.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/87f8416faec0691b96525d0bb3027809.svg")
}

.theme-dark .ageGatedImage_fbb822 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/87f8416faec0691b96525d0bb3027809.svg")
}

[src*="/assets/894e2832a1bed82af291dba37fc0e3b7.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/894e2832a1bed82af291dba37fc0e3b7.svg")
}

[src*="/assets/e9d9d2dc972b2c3fcd65.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/943a260f0eaaad05497e992feac2a8a5.svg")
}

[src*="/assets/7e75d810fd320474e648.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/989028f8e966f89ea2b1c603173427b7.svg")
}

[src*="/assets/e7681bff22fc3aa4a4bd.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg")
}

[src*="/assets/3e74af9b8d6adde9320c.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b9bbacdfa6594ded675e220061d8831d.svg")
}

[src*="/assets/210bff603a7597122890.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg");
}

.icon_f847a3.spreadsheet_f847a3,.uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.spreadsheet_f82cc7,.spreadsheet_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg");
}

[src*="/assets/88e8456ea98c0df25a7d.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c58f8117594459cb951df70b45b2e04e.svg")
}

[src*="/assets/7ae7e3fac2bc1444ae4b.svg"],[src*="/559407a40aa3c0c20d62.png"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ca6fb00528c12821b9a591fff33ec73c.svg")
}

[src*="/assets/ccd6653e4b9cedf670a9cb04cf266668.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ccd6653e4b9cedf670a9cb04cf266668.svg")
}

[src*="/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg")
}

[src*="/assets/f3b668d24838c7031ba4.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d8a03b9985d824edc78c6eb4785dc949.svg")
}

[src*="/assets/7b45ce85f789a7f89927.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d9d8b80b17879975b06c729c6a6ca57d.svg")
}

[src*="/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg")
}

[src*="/assets/d6d61586ac1c14911e30.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg")
}

[src*="/assets/f0fd53980da8cde41a97db3cf20de65d.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f0fd53980da8cde41a97db3cf20de65d.svg")
}

[src*="/assets/f203f5736b9aa0178751342dcc73548a.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f203f5736b9aa0178751342dcc73548a.svg")
}

[src*="/assets/f51e2ec5e2518261739e4b16205c6c4c.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f51e2ec5e2518261739e4b16205c6c4c.svg")
}

[src*="/assets/e7186ac1c85cdbf75cb4.svg"],[src*="/assets/186e8319e68c84de2083.png"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f7d5aea57245d82c2f7c19073fe660e7.svg")
}

[src*="/assets/fda43f574092d89177a4412046f51c44.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/fda43f574092d89177a4412046f51c44.svg")
}

[src*="/assets/7c915af96aa37d5a4fe4.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3255f24f5123fd8769d97157e48cb796.svg")
}

[src*="/assets/04f1e61a6726a54518ee.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/community_banner.svg")
}

[style*='background-image: url("/assets/9340da265d74c18a4603.svg");'] {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c8234fe5675a618e7891b634d32d1c0f.svg")!important;
}

[src*="/assets/32a661e138db0f0e0bd6.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d759f3acc6286c964cc8118d7f68b374.svg")
}

[src*="/assets/9e0e32761c92c7565525.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b73bec0c640af1aa8f016434a8238db0.svg")
}

[src*="/assets/9bf6460f219f5d75d58e.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/9bf6460f219f5d75d58e.svg")
}

[src*="/assets/a22a4ef197ce79926cd6.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/a22a4ef197ce79926cd6.svg")
}

[src*="/assets/46f302822fa43628962d28f50bb33b01.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/46f302822fa43628962d28f50bb33b01.svg")
}

[src*="/assets/b392b4fafd8762dd165f.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/6e0a487645bb93dc13fdb0b499352b46.svg")
}

[src*="/assets/a18766a93fcabeb09883.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/43548a6c2d71932b98dd4c24f8813300.svg")
}

[src*="/assets/a0180771ce23344c2a95.png"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/1f0bfc0865d324c2587920a7d80c609b.png")
}

[src*="https://cdn.discordapp.com/avatars/643945264868098049/c6a249645d46209f337279cd2ca998c7.webp"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c6a249645d46209f337279cd2ca998c7.webp")
}

[src*="/assets/c4f145e0a8c65a7f2ddca9777a2b758f.webp"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c4f145e0a8c65a7f2ddca9777a2b758f.webp")
}

[src*="/assets/5fd117394b8b03855f02.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/21e8fbccab4a4553fc99.svg")
}

[src*="/assets/4e9648e3230c19394176.svg"],[src*="/assets/41307eb799c62b6058c0.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7b3a37fa249a857b0ff136db0a73f44c.svg")
}

.icon_f847a3.unknown_f847a3, .uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.unknown_f82cc7,.unknown_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7b3a37fa249a857b0ff136db0a73f44c.svg")
}

[src*="/assets/5eb3bf7fdc26281e6ef6.svg"],[src*="/assets/9f5610ac890623f79205.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg");
}

.icon_f847a3.acrobat_f847a3, .uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.acrobat_f82cc7,.acrobat_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg");
}

[src*="/assets/20c942338703af7dccd1.svg"],[src*="/assets/4d245830fb62000c910e.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/35827c42a3af54bd169cff0a866eb428.svg");
}

.icon_f847a3.code_f847a3, .uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.code_f82cc7,.code_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/35827c42a3af54bd169cff0a866eb428.svg");
}

[src*="/assets/28e15ef5469cc0ba066a.svg"],[src*="/assets/6ce078beae8ec47e8849.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/515d0236bce3ba834026209dc78489f0.svg");
}

.icon_f847a3.document_f847a3, .uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.document_f82cc7,.document_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/515d0236bce3ba834026209dc78489f0.svg");
}

[src*="/assets/e9b67e80d0033605e8f4.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/6b35b41a1e3a8099667499b71414328b.svg");
}

.icon_f847a3.webcode_f847a3, .uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.webcode_f82cc7,.webcode_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/6b35b41a1e3a8099667499b71414328b.svg");
}

[src*="/assets/d994d2093d7d1924be78.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg");
}

.uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.video_f82cc7,.video_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg");
}

[src*="/assets/5f5e1a58ecf11d0d8d15.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/a532e755c36b75762a75ff0794456efb.svg");
}

.uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.image_f82cc7,.image_f82cc7 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/a532e755c36b75762a75ff0794456efb.svg");
}

[src*="/assets/4ba6811c2bcb626963c6.svg"],[src*="/assets/f2f403e2279383b7e7e3.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg");
}

.icon_f847a3.audio_f847a3,.uploadModal_f82cc7 .inner_f82cc7 .file_f82cc7 .icon_f82cc7.audio_f82cc7,.audio_f82cc7,.audioMetadata_f72aac:before {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg");
}

.images-dark .header_a3e381 {
	background-color: rgba(0, 0, 0, 0);
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d84c4c746db08b0e4193.svg");
}

.theme-dark .noResultsImage_c2b47d.alt_c2b47d {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3c7bf5537c8d167a6d83.svg");
}

[src*="/assets/826b6a84605f7eb8a469.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/679d8a1ef4bba5d92f03.svg");
}

[src*="/assets/a55ec25bb248daafacc5.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/8545c1ec2e8f647afe56.svg");
}

.animation_fa823b path[fill="rgb(79,83,92)"],.animation_fa823b path[fill="rgb(31,33,36)"] {
	fill: #040506;
}

.rightImage_a0e1d7 {
	box-shadow: 0 0 16px 8px rgba(0, 0, 0, .5);
}

[src*="/assets/4e53f7d2ba48d2467d4e.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/93e31ba1ad50859a7cbcd6b1f0035d6c.svg");
}

[src*="/assets/3ddd194f468b0a998570.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3ddd194f468b0a998570.svg");
}

.theme-dark .image_fea561 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3ddd194f468b0a998570.svg");
}

[src*="/assets/b52e8375b7a658dd8505.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/boost.svg");
}

[src*="/assets/ad29c03d4bb4f948547e.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ad29c03d4bb4f948547e.svg");
}

.headerImage_ab60f4 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ad29c03d4bb4f948547e.svg");
}

[src*="/assets/caa42aa2e3b055313b4c.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/caa42aa2e3b055313b4c.svg");
}

[src*="/assets/494fde817a903b7a26ab.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5f284899e72a967e9f34.svg");
}

.images-dark .image_def860 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/df670815658f288bce7d.svg");
}

[src*='/assets/72637aa9c1ec785944a4.svg'] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/a9efd5e06b5616d39a6ee4232211f9b0.svg") !important;
}

[src*="/assets/4285ec1cee503d108bbb.svg"] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4285ec1cee503d108bbb.svg");
}
[src*='/assets/85fc5205a3e76b57c9f5.svg'] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/85fc5205a3e76b57c9f5.svg") !important;
}

[src*='/assets/1ba25bb80d8ee4c89105.svg'] {
	content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/1ba25bb80d8ee4c89105.svg") !important;
}

.images-dark .pencilImage_dbc5a4 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/bad967454bb23a6adcc8.svg");
}

.images-dark .tagImage_dbc5a4 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/886bab997cad31e3ff06.svg");
}

.images-dark .checkImage_dbc5a4 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7681bff22fc3aa4a4bd.svg");
}

.images-dark .imageUploaderInnerSquare_e95c0f,
.images-dark .imageUploaderInnerSquare_b2b948 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/community_banner.svg");
}

.images-dark .noResults_e6af9c .errorStateIcon_e6af9c {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3ddd194f468b0a998570.svg");
}

.images-dark .resultsBlockedImage_a9e225 {
	background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/2d58a0636f814ac589e0.svg");
}
