/* 🛩️ Airplane */
[style*='background-image: url("/assets/88d6e5a673e816bf927dc8fe11d42d29.svg");'],
[style*='background-image: url("/assets/9937df80bc9c58a3e67709f58402f4db.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/airplane.svg") !important;
}

/* 🕹️ Arcades */
[style*='background-image: url("/assets/beec347635d7597215747fcaf461e569.svg");'],
[style*='background-image: url("/assets/9581653a5a4d0b7b56187044a9db301a.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/arcades.svg") !important;
}

/* 🔨 Ban Hammer */
[style*='background-image: url("/assets/d6b031b6f8ec4761e1dac30e4e33f235.svg");'],
[style*='background-image: url("/assets/8f841811896e9d1eefcd13bcdaca9579.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ban_hammer.svg") !important;
}

/* 🚀 Boost */
.theme-dark .channelNotice-3-mDJt {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/boost.svg");
    background-repeat: no-repeat;
}

/* 🔎💥 Broken magnifying glass */
.theme-dark .errorImage-19HeaA{
    background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/broken.svg")
    center/cover;
}

/* 🏰 Castle */
.theme-dark .verification-2oQUwN .image-cLINxN{
    background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/castle.svg") 50%/80%
    no-repeat;
}

/* ⚙️ Channel settings here and u didn't finished */
[src="/assets/3726fbfb6d657f9baf0582017ec8238c.svg"],
[src="/assets/075cd4741407c7fb961e0758155a05e1.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/channel_settings.svg");
}

/* ⚙️ Category settings */
[src="/assets/79a16912d0c0f2b7b430f8906bdfff9d.svg"],
[src="/assets/40afd79566cad1d0b437bf41a9c410df.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/category_settings.svg");
}

/* 👥 🖼️ Community banner */
.previewCard-DOrO3c .splashImage-352DQ1 {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/community_banner.svg");
}

/* 🖥️ Computer */
[style*='background-image: url("/assets/c115d59ca13c0f942965a82a0f05bf01.svg");'],
[style*='background-image: url(/assets/ad530d02033b87bb89752f915c2fbe3c.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/computer.svg") !important;
}

/* 💥 Crash */
.theme-dark .image-35kDIs {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/crash.svg");
}

/* 🎮 Developer Options */
[style*='background-image: url("/assets/350e1c6739823620f031d023a48ac9d4.svg");'],
[style*='background-image: url("/assets/3123277eb2e7083fde983985dcd209a6.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/dev_options.svg") !important;
}

/* 😃 Emojis */
[style*='background-image: url("/assets/b21e574729a2e2b9243d811be7333677.svg");'],
[style*='background-image: url("/assets/2a35872721f98f9de6218eaedbd54a78.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/emojis.svg") !important;
}

/* 📭 Empty */
.theme-dark .image-33oh8u, .theme-dark .emptyImage-2pCD2j {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/empty.svg");
}

/* 😊 Friend */
.theme-dark .channelNotice-tO6Tus.invite-OjTXrW{
    background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/friend.svg") no-repeat center 20px;
    background-size: 40%;
}

/* 🤷‍♂️ GIF not found */
.theme-dark .sadImage-2_mw0p {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/gif_not_found.svg");
}

/* 🤷‍ GIF picker end */
.theme-dark .endContainer-22e-US::after{
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/gif_picker_end.svg");
}

/* 👥 Groups */
.theme-dark .noFriends-1Y8EWR .errorStateIcon-3y6XWh {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/groups.svg");
}

/* 🎁 Gift Inventory */
.theme-dark .emptyStateImage-1kilCd, .theme-dark .emptyWumpus-11kRB0 {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/gift_inventory.svg");
}

/* 🏠 Houses */
.theme-dark .emptyIconGuilds-2NNSTU {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/houses.svg");
}

/* ✨ Integrations */
.theme-dark .footerImage-2WsqiE {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/integrations.svg");
}

[src="/assets/d89511b11686ab5c942b3ef900e3d0eb.svg"],
[src="/assets/552bbc1a21ccdc1778e72f30154593ef.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/integrations.svg");
}

/* 🔑 Key */
.theme-dark .channelNotice-tO6Tus.guildMFAWarning-3GEzs8 {
    background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/key.svg") no-repeat center 20px;
    background-size: 40%;
}

/* ❌ No channel */
[style*='background-image: url("/assets/ed2007aab2da31a5436e70a28b4d59f9.svg");'],
[style*='background-image: url("/assets/7ad95b56788fc31c3e5eec667129ba68.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_channel.svg") !important;
}

/* ⌨️ No keybinds */
[style*='background-image: url("/assets/12d9bda733d6432d605e8011c22c3e56.svg");'],
[style*='background-image: url("/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_keybinds.svg") !important;
}

/* 🙁 No Mutuals */
.theme-dark .emptyIconFriends-2LNxTX{
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_mutuals.svg");
    background-size: 100%;
}

/* 🔎 🗣️ No results conversation */
.theme-dark .emptyState-1OLqEw {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_results_conv.svg");
    background-size: 20%;
}

/* 🔎 No results search bar*/
.theme-dark .noResultsImage-1-dP2n {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/no_results.svg");
}

/* 📱 Phones */
.theme-dark .verificationBlock-xhj3fR .image-cLINxN.phone-2wue_- {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/phones.svg");
}

/* 🖼️ Pictures */
[style*='background-image: url("/assets/f1e026332f1d6e902bcbbc07892bc849.svg");'],
[style*='background-image: url("/assets/fd65da49c3073002049383baeb24e658.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/pictures.svg") !important;
}

/* 📌 Pinned */
[style*='background-image: url("/assets/ef3a1ed683cfcf029971b12a26462072.svg");'],
[style*='background-image: url("/assets/96ad9c7f6f636a7fb2028e2a07847776.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/pinned.svg") !important;
}

/* 💩 Poo */
.theme-dark .imageError-dy476I, .theme-dark .invalidPoop--w1123, .theme-dark .guildIconExpired-2BFmZC {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/poop.svg");
}

/* 📜 Scroll */
[style*='background-image: url("/assets/6f3eec6ec5f47f36e3bce40e6176bfbe.svg");'],
[style*='background-image: url("/assets/ba5f6c10149932705aef4f169ad75e5a.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/scroll.svg") !important;
}

/* 🔎 Searching */
.theme-dark .searchIndexBackground-2pbSFD {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/searching.svg");
}

/* 🔥 Server outage */
.theme-dark .art-_juKdZ{
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/server_outage.svg");
}

/* 🟢 Spotify error */
.theme-dark .artworkSpotifySessionEnded-D18iXB {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/spotify_error.svg");
}

/* 🤷‍♂️ Sticker not found */
[style*='background-image: url("/assets/bee123bfad40a3fb4bb42f8d318dd867.svg");'],
[style*='background-image: url("/assets/bee123bfad40a3fb4bb42f8d318dd867.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/sticker_not_found.svg") !important;
}

/* 🔴 Streamer Mode */
.theme-dark .streamerModeEnabledImage-2EveVD, .theme-dark .emptyIconStreamerMode-3P4I-V {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/streamer_mode.svg");
}

/* ↔️ Switch */
.theme-dark .channelNotice-tO6Tus.quickswitcher-35bYg4 {
    background: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/switch.svg")
    no-repeat center 20px;
}

/* 📹 Test Video */
.theme-dark .previewImage-7EfQfc {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/test_video.svg");
}

/* 🗝️ Treasure Chest */
[src="/assets/67430d140a79af95585a19d304731dc5.svg"],
[src="/assets/d6779172ed9209b5ad49df923ea7820c.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/treasure_chest.svg");
}

/* 🎁 Unclaimed */
.theme-dark .imageUnclaimed-5nJyYs {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/unclaimed.svg");
}

/* 🔊 Vocal full */
.fullArt-KDeDyg {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/vocal_full.svg");
    background-size: 100%;
}

/* ⛏️ Wumpus Mining */
[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'],
[style*='background-image: url("/assets/645df33d735507f39c78ce0cac7437f0.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_mining.svg") !important;
}

/* 🗻 Wumpus Mountains */
[style*='background-image: url("/assets/b669713872b43ca42333264abf9c858e.svg");'],
[style*='background-image: url("/assets/c84361b810ca7c10d6e8ddb6ea722ebe.svg");'],
[style*='background-image: url("/assets/b36c705f790dad253981f1893085015a.svg");'],
[style*='background-image: url("/assets/36c9a2fb7d0593a581a92373121c2848.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_mountain.svg") !important;
}

/* 💤 Wumpus Sleeping */
[style*='background-image: url("/assets/b36de980b174d7b798c89f35c116e5c6.svg");'],
[style*='background-image: url("/assets/fd879a28807b66b38d54e7db6ea18a69.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_sleeping.svg") !important;
}

/* 🍵 Wumpus Tea Party */
[style*='background-image: url("/assets/b5eb2f7d6b3f8cc9b60be4a5dcf28015.svg");'],
[style*='background-image: url("/assets/6b7098de4cc16f7e431ad8f9aae7f6db.svg");'],
.theme-dark .notFriends-lSusTz .errorStateIcon-3y6XWh {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/wumpus_tea_party.svg") !important;
}

/* 💬 Group chat */
[class^="partyFull-"] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/weapons.svg") !important;
}

/* 🏓 @everyone */
.contentWarningPopout-WKdbDG g > :nth-child(2) > :first-child path {
    fill: #0000003d;
}
.contentWarningPopout-WKdbDG g > :nth-child(3) > :first-child path {
    fill: #99abd8;
}
.contentWarningPopout-WKdbDG g > :nth-child(3) > :nth-child(2) path {
    fill: #7a8ec7;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :first-child path {
    fill: #b3cafb;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(2) path {
    fill: #c2d2f1;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(3) path,
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(4) path {
    fill: #a0b2dc;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(5) path,
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(6) path {
    fill: #7a8ec7;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(7) path {
    fill: #8ba0d2;
}
.contentWarningPopout-WKdbDG g > :nth-child(4) > :nth-child(8) path {
    fill: #c2d2f1;
}
.contentWarningPopout-WKdbDG g > :nth-child(6) > :nth-child(2) path {
    fill: #99abd8;
}
.contentWarningPopout-WKdbDG g > :nth-child(10) > :first-child path {
    fill: #e0c310;
}

.contentWarningPopout-WKdbDG g > :nth-child(11) > :first-child path {
    fill: #fbd907;
}

.noResultsContainer-2I8NLc path[fill="#4F545C"],.noResultsContainer-2I8NLc path[fill="#202225"] {
    fill: #040506;
}

.noResultsContainer-2I8NLc path[d="M55.305 83.6938V88.0634C55.305 88.8096 55.9133 89.4168 56.6608 89.4168H57.8267C58.5742 89.4168 59.1825 88.8096 59.1825 88.0634V83.6938H55.305Z"],.noResultsContainer-2I8NLc path[d="M63.9 69.4608C59.1576 69.4608 55.3137 65.6236 55.3137 60.8895V60.2625C53.9511 60.1204 52.7667 59.371 52.0377 58.2915H48.4269C44.2761 58.2915 40.9107 61.651 40.9107 65.7946V88.0633C40.9107 88.8108 41.5176 89.4166 42.2664 89.4166H43.4319C44.1807 89.4166 44.7876 88.8108 44.7876 88.0633V84.1448C44.7876 83.3973 45.395 82.7915 46.1434 82.7915H66.6992C66.1312 82.2289 65.7778 81.4512 65.7778 80.5913V74.2278C65.7778 73.9788 65.9802 73.7767 66.2297 73.7767V69.4608H63.9Z"],.noResultsContainer-2I8NLc path[d="M65.7753 37.9727H63.8985C59.9583 37.9727 56.7049 40.9505 56.2693 44.7693H60.3325C60.6746 41.6087 62.855 38.9832 65.7753 37.9727ZM60.2833 60.8895V60.2882H56.216V60.8895C56.216 65.1184 59.6624 68.5586 63.8986 68.5586H65.7759C62.5899 67.4565 60.2833 64.4322 60.2833 60.8895Z"] {
    fill: rgb(122, 142, 199);
}

.noResultsContainer-2I8NLc path[d="M90.8398 58.8832H93.4957C94.2264 58.8832 94.8239 58.2868 94.8239 57.5578C94.8239 56.8283 94.2264 56.2319 93.4957 56.2319H90.8398C90.109 56.2319 89.5116 56.8283 89.5116 57.5578C89.5116 58.2868 90.109 58.8832 90.8398 58.8832ZM98.2619 58.8832H99.8554C100.586 58.8832 101.184 58.2868 101.184 57.5578C101.184 56.8283 100.586 56.2319 99.8554 56.2319H98.2619C97.5317 56.2319 96.9338 56.8283 96.9338 57.5578C96.9338 58.2868 97.5317 58.8832 98.2619 58.8832Z"],.noResultsContainer-2I8NLc path[d="M55.7882 59.3861H62.3862C62.6357 59.3861 62.8381 59.5882 62.8381 59.8372C62.8381 60.0862 62.6357 60.2883 62.3862 60.2883H60.2852V60.8897C60.2852 64.4328 62.5923 67.4566 65.7778 68.5587H93.1359C96.9921 68.5587 100.184 65.7049 100.728 62.0035C99.5047 62.673 98.1029 63.0551 96.6125 63.0551H87.9357C83.2014 63.0551 79.3493 59.2101 79.3493 54.4837V50.965C79.3493 48.9255 81.0119 47.2658 83.055 47.2658H87.9357C88.1851 47.2658 88.3876 47.4679 88.3876 47.7169H92.7052C92.7052 47.4679 92.9077 47.2658 93.1571 47.2658H100.818V45.6422C100.818 41.5154 97.5339 38.1486 93.4387 37.988C93.3948 38.7459 93.1829 39.4632 92.8019 40.1182C92.6763 40.3343 92.3997 40.4074 92.1841 40.282C92.1765 40.2775 92.1724 40.2698 92.1652 40.2648C91.9641 40.545 91.734 40.8066 91.4755 41.048C91.4796 41.0525 91.4855 41.0543 91.4891 41.0593C91.6459 41.2528 91.6152 41.537 91.4209 41.6931C90.5532 42.3919 89.4302 42.9413 88.1743 43.2828C87.2357 43.5382 86.2622 43.669 85.3196 43.669C85.0674 43.669 84.8175 43.6595 84.5712 43.6406C80.165 43.304 76.1714 41.7166 73.0234 39.05C72.7992 38.8601 72.5701 38.6485 72.4508 38.334C72.4047 38.214 72.3875 38.0931 72.3821 37.9731H65.7774C62.8571 38.9837 60.6766 41.6087 60.3345 44.7697H62.3862C62.6357 44.7697 62.8381 44.9718 62.8381 45.2209C62.8381 45.4699 62.6357 45.672 62.3862 45.672H55.7882C53.7948 45.672 52.1729 47.2911 52.1729 49.281V55.7771C52.1729 57.767 53.7948 59.3861 55.7882 59.3861Z"] {
    fill: rgb(160, 178, 220);
}

.noResultsContainer-2I8NLc path[d="M55.3349 49.7317V55.3256C55.3349 56.5711 56.3468 57.5812 57.5945 57.5812H60.5772C61.0765 57.5812 61.481 57.177 61.481 56.679V48.3783C61.481 47.8803 61.0765 47.4761 60.5772 47.4761H57.5945C56.3468 47.4761 55.3349 48.4857 55.3349 49.7317Z"] {
    fill: rgb(139, 160, 210);
}

.noResultsContainer-2I8NLc path[d="M84.2862 88.0634V82.9283C84.2862 82.7325 84.4145 82.5656 84.5985 82.4988C86.525 81.8023 87.8184 79.9716 87.8184 77.9402V69.4609H66.2308V73.7768C66.4803 73.7768 66.6827 73.9789 66.6827 74.2279V80.5915C66.6827 81.7996 67.6629 82.7835 68.8713 82.7916C69.1271 82.7934 69.3386 82.9878 69.3386 83.2427V88.0634C69.3386 88.8109 69.946 89.4167 70.6944 89.4167H71.8603C72.6091 89.4167 73.2161 88.8109 73.2161 88.0634V83.6938C73.2161 83.1958 73.6205 82.7916 74.1199 82.7916H79.5054C80.0043 82.7916 80.4092 83.1958 80.4092 83.6938V88.0634C80.4092 88.8109 81.0161 89.4167 81.7649 89.4167H82.9304C83.6793 89.4167 84.2862 88.8109 84.2862 88.0634Z"] {
    fill: rgb(143, 161, 210);
}

.noResultsContainer-2I8NLc path[d="M92.1639 40.2649C91.966 40.134 91.8982 39.8728 92.0193 39.6653C92.6484 38.5835 92.7144 37.3321 92.2164 35.9454C92.1924 35.8791 92.1612 35.8168 92.135 35.7523C90.0842 37.1016 87.7013 38.0205 85.133 38.4189C85.1095 38.4225 85.086 38.4238 85.063 38.4238C84.8443 38.4238 84.6518 38.265 84.617 38.0422C84.579 37.7959 84.7476 37.5653 84.9943 37.527C87.4645 37.1445 89.7521 36.2562 91.7116 34.9511C91.1788 34.1468 90.3979 33.4953 89.4303 33.0726C87.8771 32.3946 86.0486 32.3716 84.5397 33.0117C83.7285 33.3555 82.9842 33.8111 82.196 34.2934C81.7875 34.5437 81.3645 34.8027 80.9352 35.0413C79.5085 35.8358 77.977 36.4326 76.3826 36.816C75.8367 36.9478 75.2786 37.0542 74.7245 37.1336L74.631 37.1467C74.246 37.2008 73.8822 37.2523 73.6065 37.4219C73.3959 37.5509 73.2206 37.8198 73.2947 38.0138C73.3376 38.1274 73.4668 38.2434 73.6069 38.3616C76.6095 40.9046 80.4241 42.4185 84.6391 42.7411C85.7047 42.8227 86.8444 42.709 87.9358 42.4122C89.0724 42.1032 90.0811 41.6119 90.8529 40.9907C91.0423 40.8378 91.3161 40.8662 91.4748 41.048C91.7328 40.8067 91.9633 40.545 92.1639 40.2649ZM114.635 41.7746C114.635 40.9959 113.997 40.3621 113.213 40.3621H111.174C111.218 40.4122 111.267 40.4587 111.327 40.4966L114.437 42.4819C114.56 42.2731 114.635 42.0335 114.635 41.7746Z"] {
    fill: rgb(37, 175, 73);
}

.noResultsContainer-2I8NLc path[d="M90.8405 56.2317H93.4964C94.2272 56.2317 94.8246 56.8285 94.8246 57.5576C94.8246 58.2866 94.2272 58.883 93.4964 58.883H90.8405C90.1098 58.883 89.5123 58.2866 89.5123 57.5576C89.5123 56.8285 90.1098 56.2317 90.8405 56.2317ZM98.2628 56.2317H99.8562C100.587 56.2317 101.184 56.8285 101.184 57.5576C101.184 58.2866 100.587 58.883 99.8562 58.883H98.2628C97.5325 58.883 96.9346 58.2866 96.9346 57.5576C96.9346 56.8285 97.5325 56.2317 98.2628 56.2317ZM87.9338 48.1679H85.2069C84.2457 48.7341 83.5954 49.7762 83.5954 50.9653V54.4836C83.5954 58.0267 85.9024 61.0506 89.088 62.1527H96.611C100.847 62.1527 104.294 58.7129 104.294 54.4836V50.9653C104.294 49.4229 103.036 48.1679 101.491 48.1679H93.1557C92.9058 48.1679 92.7038 47.9663 92.7038 47.7168H88.3857C88.3857 47.9663 88.1837 48.1679 87.9338 48.1679Z"] {
    fill: rgb(194, 210, 241);
}

.noResultsContainer-2I8NLc path[d="M83.5973 54.4837V50.9649C83.5973 49.7762 84.2476 48.7341 85.2088 48.168H83.055C81.5099 48.168 80.2531 49.4225 80.2531 50.9649V54.4837C80.2531 58.7125 83.6994 62.1527 87.9357 62.1527H89.0894C85.9038 61.0506 83.5973 58.0263 83.5973 54.4837Z"] {
    fill: rgb(179, 202, 251);
}

.noResultsContainer-2I8NLc path[d="M105.198 50.9649V54.4836C105.198 57.309 103.815 59.8118 101.696 61.3745C101.521 64.4732 99.6978 67.1348 97.0816 68.4932L92.1707 89.0977H106.678V88.657C106.678 87.0983 107.845 85.8099 109.352 85.6078L115.146 61.2937C114.473 61.1056 113.976 60.4961 113.976 59.7676V51.7859C113.976 51.2121 114.285 50.7127 114.745 50.4325C114.954 50.2133 115.248 50.0752 115.576 50.0752H117.82L118.882 45.6186H117.988C117.749 45.6186 117.515 45.5446 117.32 45.4066L117.109 45.2568C117.104 45.2532 117.098 45.2509 117.093 45.2478L110.84 41.2563C110.379 40.9626 110.104 40.4618 110.104 39.9178C110.104 39.3728 110.379 38.8721 110.84 38.578L117.093 34.5873C117.098 34.5842 117.103 34.5819 117.108 34.5788L117.161 34.5413L111.167 9.39355L103.639 40.9806C103.581 41.2229 103.337 41.3736 103.095 41.3149L101.721 47.0789V47.2774C103.657 47.396 105.198 49.002 105.198 50.9649Z"] {
    fill: rgb(220, 230, 248);
}

.noResultsContainer-2I8NLc path[d="M136.392 50.0753H137.253V45.6191H136.392V50.0753Z"],.noResultsContainer-2I8NLc path[d="M139.905 45.6188H139.044C139.173 47.2442 139.753 48.7749 140.718 50.075H141.001V48.9558C140.389 47.9448 140.011 46.8116 139.905 45.6188ZM139.009 32.2244V34.2161H139.871V32.2244V29.2849C139.633 29.3535 139.381 29.4184 139.103 29.4771C139.071 29.4834 139.041 29.4775 139.009 29.4775V32.2244ZM129.899 47.2008C129.661 47.2008 129.468 47.393 129.468 47.6312C129.468 47.8685 129.661 48.0611 129.899 48.0611C130.532 48.0611 131.048 48.5749 131.048 49.2074V50.0754H131.909V49.2074C131.909 48.1012 131.008 47.2008 129.899 47.2008ZM132.915 47.416V49.2796C132.915 49.5174 133.107 49.7095 133.345 49.7095C133.583 49.7095 133.776 49.5174 133.776 49.2796V47.416C133.776 46.6839 133.505 46.0153 133.059 45.4997H131.719C131.703 45.506 131.688 45.511 131.672 45.5168C132.402 45.8398 132.915 46.5684 132.915 47.416ZM129.805 45.6188H129.373V45.9369C129.501 45.811 129.648 45.7086 129.805 45.6188ZM133.553 34.2159H134.39V29.8256C134.102 29.8156 133.814 29.8003 133.529 29.7795V34.335H133.564C133.557 34.3065 133.546 34.2795 133.546 34.2488C133.546 34.2371 133.552 34.2271 133.553 34.2159ZM132.487 30.5043C132.487 30.2665 132.294 30.0743 132.056 30.0743C131.818 30.0743 131.625 30.2665 131.625 30.5043V34.3352H132.487V30.5043ZM129.927 34.2159H130.789V29.3613C130.477 29.2815 130.189 29.1899 129.927 29.0889V34.2159Z"],.noResultsContainer-2I8NLc path[d="M140.709 83.4604C140.709 83.7554 140.822 84.0225 141.001 84.23V73.7234C140.822 73.9309 140.709 74.198 140.709 74.493V83.4604ZM137.963 62.2814C137.963 62.0437 137.77 61.8511 137.532 61.8511C137.294 61.8511 137.101 62.0437 137.101 62.2814V67.865C137.101 68.1027 137.294 68.2953 137.532 68.2953C137.77 68.2953 137.963 68.1027 137.963 67.865V62.2814ZM139.74 62.2814C139.74 62.0437 139.547 61.8511 139.309 61.8511C139.071 61.8511 138.878 62.0437 138.878 62.2814V65.073C138.878 65.3107 139.071 65.5034 139.309 65.5034C139.547 65.5034 139.74 65.3107 139.74 65.073V62.2814ZM140.628 62.2814V64.2086C140.628 64.7892 140.765 65.3369 141.001 65.8282V61.8628C140.792 61.8921 140.628 62.064 140.628 62.2814Z"],.noResultsContainer-2I8NLc path[d="M138.877 73.8388V84.0856C138.877 85.4358 139.771 86.5807 141 86.961V86.0376C140.258 85.6979 139.738 84.9531 139.738 84.0856V73.8388C139.738 72.9713 140.258 72.2269 141 71.8872V70.9629C139.771 71.3436 138.877 72.489 138.877 73.8388ZM139.615 89.0978H141V88.1897C140.457 88.358 139.98 88.6778 139.615 89.0978Z"],.noResultsContainer-2I8NLc path[d="M141.381 61.3595C141.33 61.3997 141.276 61.4367 141.226 61.4786H141.905H142.484C142.55 61.4376 142.617 61.3979 142.684 61.3595H141.381ZM146.395 59.7295H146.043H138.654C137.522 59.7295 136.431 59.9862 135.438 60.4572H149.407C149.541 60.4572 149.671 60.4193 149.784 60.3471L150.752 59.7295H146.395ZM120.14 58.9704C120.924 58.9704 121.562 59.6043 121.562 60.3829C121.562 60.4086 121.556 60.4321 121.555 60.4573H122.294C122.295 60.4321 122.301 60.4086 122.301 60.3829C122.301 59.1996 121.332 58.2369 120.14 58.2369H114.879V58.9704H120.14ZM119.346 57.1365C119.55 57.1365 119.715 56.9722 119.715 56.7697C119.715 56.5671 119.55 56.4029 119.346 56.4029H114.879V57.1365H119.346ZM121.953 56.4029C121.749 56.4029 121.584 56.5671 121.584 56.7697C121.584 56.9722 121.749 57.1365 121.953 57.1365H154.815L155.964 56.4029H121.953ZM128.469 61.4785H129.15C129.174 61.4411 129.19 61.3986 129.21 61.3594H128.324C128.281 61.4032 128.233 61.4411 128.186 61.4785H128.469ZM128.938 58.2367H127.453C127.427 58.2367 127.403 58.2435 127.378 58.2444C127.352 58.2435 127.327 58.2367 127.302 58.2367H125.818C124.626 58.2367 123.657 59.1998 123.657 60.3827C123.657 60.4084 123.663 60.4318 123.664 60.4571H124.403C124.401 60.4323 124.395 60.4084 124.395 60.3827C124.395 59.604 125.033 58.9702 125.818 58.9702H125.839C125.502 59.3487 125.292 59.84 125.292 60.3827C125.292 60.4079 125.298 60.4318 125.299 60.4571H126.038C126.036 60.4323 126.03 60.4079 126.03 60.3827C126.03 59.6298 126.629 59.018 127.378 58.9779C128.126 59.018 128.725 59.6298 128.725 60.3827C128.725 60.4079 128.719 60.4323 128.718 60.4571H129.456C129.457 60.4318 129.464 60.4079 129.464 60.3827C129.464 59.84 129.253 59.3487 128.916 58.9702H128.938C129.722 58.9702 130.36 59.604 130.36 60.3827C130.36 60.4084 130.353 60.4323 130.352 60.4571H131.091C131.092 60.4318 131.099 60.4084 131.099 60.3827C131.099 59.1998 130.129 58.2367 128.938 58.2367ZM134.279 54.3242C134.075 54.3242 133.91 54.4884 133.91 54.691C133.91 54.894 134.075 55.0577 134.279 55.0577H144.728C144.932 55.0577 145.097 54.894 145.097 54.691C145.097 54.4884 144.932 54.3242 144.728 54.3242H134.279ZM130.343 55.0577C130.547 55.0577 130.712 54.894 130.712 54.691C130.712 54.4884 130.547 54.3242 130.343 54.3242H114.879V55.0577H130.343ZM127.299 53.2239C127.503 53.2239 127.668 53.0597 127.668 52.8572C127.668 52.6542 127.503 52.4904 127.299 52.4904H114.879V53.2239H127.299ZM137.765 53.2239C137.969 53.2239 138.134 53.0597 138.134 52.8572C138.134 52.6542 137.969 52.4904 137.765 52.4904H129.833C129.629 52.4904 129.464 52.6542 129.464 52.8572C129.464 53.0597 129.629 53.2239 129.833 53.2239H137.765ZM140.843 52.4902C140.639 52.4902 140.474 52.6544 140.474 52.857C140.474 53.06 140.639 53.2237 140.843 53.2237H152.945L151.795 52.4902H140.843ZM132.19 58.6037C132.19 58.8062 132.355 58.9704 132.559 58.9704H133.897C134.101 58.9704 134.266 58.8062 134.266 58.6037C134.266 58.4007 134.101 58.2369 133.897 58.2369H132.559C132.355 58.2369 132.19 58.4007 132.19 58.6037ZM154.455 44.8218H153.099V34.7861H154.455C155.203 34.7861 155.81 35.392 155.81 36.1395V43.4684C155.81 44.2159 155.203 44.8218 154.455 44.8218Z"],.noResultsContainer-2I8NLc path[d="M139.469 41.8545H139.117C137.319 41.8545 135.627 42.5502 134.356 43.8119C134.062 44.1038 133.744 44.3614 133.413 44.5978H151.789C152.173 44.5978 152.485 44.2883 152.485 43.9085V43.8124H138.935C138.73 43.8124 138.565 43.6486 138.565 43.4456C138.565 43.2431 138.73 43.0789 138.935 43.0789H152.485V41.8545H139.469ZM118.891 43.1867H118.912C118.576 42.8082 118.365 42.3174 118.365 41.7743C118.365 41.2316 118.576 40.7403 118.912 40.3618H118.891C118.107 40.3618 117.469 40.9956 117.469 41.7743C117.469 42.5529 118.107 43.1867 118.891 43.1867ZM120.451 43.179C121.2 43.1393 121.798 42.5272 121.798 41.7742C121.798 41.0213 121.2 40.4096 120.451 40.3694C119.702 40.4096 119.104 41.0213 119.104 41.7742C119.104 42.5272 119.702 43.1393 120.451 43.179ZM122.011 43.1867C122.796 43.1867 123.433 42.5529 123.433 41.7743C123.433 40.9956 122.796 40.3618 122.011 40.3618H121.99C122.326 40.7403 122.537 41.2316 122.537 41.7743C122.537 42.3174 122.326 42.8082 121.99 43.1867H122.011ZM135.889 41.8545H131.727C129.929 41.8545 128.239 42.5502 126.967 43.8119C126.674 44.1029 126.359 44.3637 126.027 44.5978H131.967C132.65 44.2739 133.283 43.8404 133.834 43.2932C134.441 42.6909 135.137 42.2127 135.889 41.8545Z"],.noResultsContainer-2I8NLc path[d="M138.934 43.0788C138.729 43.0788 138.564 43.243 138.564 43.4455C138.564 43.6485 138.729 43.8123 138.934 43.8123H152.484V43.0788H138.934ZM125.631 40.3619H126.969C127.173 40.3619 127.339 40.1977 127.339 39.9952C127.339 39.7926 127.173 39.6284 126.969 39.6284H125.631C125.427 39.6284 125.262 39.7926 125.262 39.9952C125.262 40.1977 125.427 40.3619 125.631 40.3619Z"],.noResultsContainer-2I8NLc path[d="M152.942 51.2065C152.829 51.1348 152.699 51.0964 152.565 51.0964H151.29L156.524 54.4374C156.985 54.7316 157.26 55.2323 157.26 55.7768C157.26 56.3213 156.985 56.8221 156.524 57.1162L151.289 60.4568H152.565C152.699 60.4568 152.829 60.4189 152.942 60.3467L159.195 56.3561C159.398 56.2261 159.514 56.0155 159.514 55.7768C159.514 55.5382 159.398 55.3271 159.195 55.1976L152.942 51.2065ZM127.351 35.7159H137.8C138.004 35.7159 138.169 35.8797 138.169 36.0827C138.169 36.2853 138.004 36.4495 137.8 36.4495H127.351C127.147 36.4495 126.982 36.2853 126.982 36.0827C126.982 35.8797 127.147 35.7159 127.351 35.7159ZM118.89 39.6285H120.374C120.4 39.6285 120.424 39.6353 120.45 39.6357C120.475 39.6353 120.499 39.6285 120.525 39.6285H122.01C123.201 39.6285 124.171 40.5912 124.171 41.7745C124.171 42.9573 123.201 43.9205 122.01 43.9205H120.525C120.499 43.9205 120.475 43.9137 120.45 43.9128C120.424 43.9137 120.4 43.9205 120.374 43.9205H118.89C117.698 43.9205 116.728 42.9573 116.728 41.7745C116.728 40.5912 117.698 39.6285 118.89 39.6285ZM125.631 39.6285H126.969C127.173 39.6285 127.339 39.7927 127.339 39.9953C127.339 40.1978 127.173 40.362 126.969 40.362H125.631C125.427 40.362 125.262 40.1978 125.262 39.9953C125.262 39.7927 125.427 39.6285 125.631 39.6285ZM120.828 35.2373H117.956C117.822 35.2373 117.692 35.2752 117.579 35.3474L117.001 35.7159H123.415C123.619 35.7159 123.784 35.8797 123.784 36.0827C123.784 36.2853 123.619 36.4495 123.415 36.4495H115.852L111.326 39.338C111.211 39.4115 111.128 39.5126 111.074 39.6285H113.212C114.404 39.6285 115.374 40.5912 115.374 41.7745C115.374 42.1792 115.253 42.554 115.056 42.8775L117.579 44.4875C117.692 44.5597 117.823 44.5976 117.956 44.5976H120.828H124.576C125.26 44.2737 125.893 43.8402 126.444 43.293C127.855 41.8927 129.731 41.1208 131.726 41.1208H139.115H139.468H152.484V38.5278H115.025C114.821 38.5278 114.656 38.364 114.656 38.161C114.656 37.9585 114.821 37.7943 115.025 37.7943H152.484V35.9262C152.484 35.5463 152.171 35.2373 151.787 35.2373H120.828Z"],.noResultsContainer-2I8NLc path[d="M136.393 33.4189C136.393 33.6566 136.585 33.8492 136.824 33.8492C137.062 33.8492 137.254 33.6566 137.254 33.4189V29.1982L138.567 29.0768C138.546 28.8517 138.69 28.642 138.916 28.5941C140.507 28.2603 141.001 27.8101 141.001 27.6838C141.001 27.3197 138.963 26.4292 135.187 26.4292C131.41 26.4292 129.373 27.3197 129.373 27.6838C129.373 28.0478 131.41 28.9388 135.187 28.9388C135.422 28.9388 135.608 29.1197 135.631 29.3489L136.393 29.278V33.4189ZM132.129 65.4824C132.129 65.2447 131.936 65.0525 131.698 65.0525C131.46 65.0525 131.267 65.2447 131.267 65.4824V89.0977H132.129V65.4824ZM135.036 77.4429C135.036 77.2051 134.844 77.0125 134.606 77.0125C134.368 77.0125 134.175 77.2051 134.175 77.4429V89.0976H135.036V77.4429ZM135.036 62.2816C135.036 62.0438 134.844 61.8512 134.606 61.8512C134.368 61.8512 134.175 62.0438 134.175 62.2816V74.3098C134.175 74.5476 134.368 74.7398 134.606 74.7398C134.844 74.7398 135.036 74.5476 135.036 74.3098V62.2816ZM137.1 73.5136V79.4098C137.1 79.6475 137.293 79.8397 137.531 79.8397C137.769 79.8397 137.962 79.6475 137.962 79.4098V73.5136C137.962 71.6586 139.261 70.1036 141.001 69.698V68.8179C138.784 69.2361 137.1 71.1813 137.1 73.5136ZM137.962 82.0288C137.962 81.791 137.77 81.5988 137.531 81.5988C137.293 81.5988 137.1 81.791 137.1 82.0288V89.0978H137.962V82.0288Z"] {
    fill: rgb(166, 114, 62);
}

.noResultsContainer-2I8NLc path[d="M139.467 41.1213H139.115H131.727C129.731 41.1213 127.855 41.8927 126.444 43.2934C125.893 43.8406 125.26 44.2742 124.577 44.5981H126.026C126.358 44.3639 126.673 44.1032 126.966 43.8122C128.238 42.55 129.928 41.8548 131.727 41.8548H135.887C135.136 42.213 134.44 42.6912 133.833 43.2934C133.282 43.8406 132.648 44.2742 131.965 44.5981H133.411C133.743 44.3617 134.061 44.1041 134.355 43.8122C135.626 42.55 137.317 41.8548 139.115 41.8548H139.467H152.484V41.1213H139.467ZM115.025 37.7947C114.821 37.7947 114.656 37.9589 114.656 38.1615C114.656 38.3645 114.821 38.5282 115.025 38.5282H152.484V37.7947H115.025ZM118.89 40.3622H118.911C118.575 40.7407 118.364 41.2315 118.364 41.7747C118.364 42.3174 118.575 42.8086 118.911 43.1871H118.89C118.105 43.1871 117.468 42.5533 117.468 41.7747C117.468 40.996 118.105 40.3622 118.89 40.3622ZM120.45 40.3699C121.198 40.4096 121.797 41.0217 121.797 41.7747C121.797 42.5276 121.198 43.1393 120.45 43.1795C119.701 43.1393 119.103 42.5276 119.103 41.7747C119.103 41.0217 119.701 40.4096 120.45 40.3699ZM121.989 40.3622H122.01C122.794 40.3622 123.432 40.996 123.432 41.7747C123.432 42.5533 122.794 43.1871 122.01 43.1871H121.989C122.325 42.8086 122.536 42.3174 122.536 41.7747C122.536 41.2315 122.325 40.7407 121.989 40.3622ZM118.89 43.9207H120.374C120.4 43.9207 120.424 43.9139 120.45 43.913C120.476 43.9139 120.5 43.9207 120.526 43.9207H122.01C123.201 43.9207 124.171 42.9575 124.171 41.7747C124.171 40.5914 123.201 39.6287 122.01 39.6287H120.526C120.5 39.6287 120.476 39.6355 120.45 39.6364C120.424 39.6355 120.4 39.6287 120.374 39.6287H118.89C117.699 39.6287 116.729 40.5914 116.729 41.7747C116.729 42.9575 117.699 43.9207 118.89 43.9207ZM127.351 36.4497H137.8C138.004 36.4497 138.169 36.2855 138.169 36.0829C138.169 35.8799 138.004 35.7162 137.8 35.7162H127.351C127.147 35.7162 126.982 35.8799 126.982 36.0829C126.982 36.2855 127.147 36.4497 127.351 36.4497ZM123.415 36.4497C123.619 36.4497 123.784 36.2855 123.784 36.0829C123.784 35.8799 123.619 35.7162 123.415 35.7162H117.002L115.852 36.4497H123.415ZM141.96 34.2161H141.001V28.8428C140.699 29.007 140.325 29.1554 139.871 29.2853V34.2161H139.01V29.478C138.801 29.477 138.612 29.3408 138.567 29.1283C138.563 29.1107 138.568 29.094 138.567 29.0765L137.254 29.1983V33.4189C137.254 33.6567 137.062 33.8493 136.824 33.8493C136.585 33.8493 136.393 33.6567 136.393 33.4189V29.2781L135.63 29.3489C135.631 29.3629 135.639 29.3755 135.639 29.39C135.639 29.639 135.436 29.8411 135.187 29.8411C134.922 29.8411 134.656 29.8348 134.39 29.8258V34.2161H133.553C133.552 34.2274 133.546 34.2373 133.546 34.249C133.546 34.2797 133.557 34.3068 133.564 34.3352H141.992C141.978 34.2968 141.966 34.2571 141.96 34.2161ZM136.393 50.0754H137.254V45.6192H136.393V50.0754ZM131.909 50.0754H131.047V49.2079C131.047 48.575 130.532 48.0611 129.899 48.0611C129.661 48.0611 129.468 47.869 129.468 47.6312C129.468 47.3935 129.661 47.2008 129.899 47.2008C131.007 47.2008 131.909 48.1017 131.909 49.2079V50.0754ZM141.001 48.9562V45.6192H141.266C141.271 45.5791 141.281 45.5394 141.294 45.5001H133.059C133.504 46.0153 133.776 46.6839 133.776 47.416V49.2801C133.776 49.5178 133.583 49.71 133.345 49.71C133.107 49.71 132.915 49.5178 132.915 49.2801V47.416C132.915 46.5684 132.402 45.8403 131.671 45.5173C131.687 45.5114 131.703 45.506 131.719 45.5001H128.241C128.255 45.5385 128.266 45.5782 128.272 45.6192H129.804C129.648 45.7085 129.5 45.8109 129.372 45.9368V50.0754H128.824C128.834 50.1146 128.84 50.1543 128.842 50.1945H141.163C141.166 50.1543 141.172 50.1146 141.182 50.0754H140.718C139.753 48.7748 139.173 47.2446 139.044 45.6192H139.905C140.011 46.812 140.389 47.9447 141.001 48.9562Z"],.noResultsContainer-2I8NLc path[d="M137.531 68.2954C137.293 68.2954 137.1 68.1032 137.1 67.8654V62.2815C137.1 62.0437 137.293 61.8516 137.531 61.8516C137.769 61.8516 137.962 62.0437 137.962 62.2815V67.8654C137.962 68.1032 137.769 68.2954 137.531 68.2954ZM134.606 74.7401C134.368 74.7401 134.175 74.5475 134.175 74.3102V62.2815C134.175 62.0437 134.368 61.8516 134.606 61.8516C134.844 61.8516 135.036 62.0437 135.036 62.2815V74.3102C135.036 74.5475 134.844 74.7401 134.606 74.7401ZM136.8 62.0379C136.679 62.0379 136.679 61.8516 136.8 61.8516C136.92 61.8516 136.92 62.0379 136.8 62.0379ZM139.739 65.0735C139.739 65.3112 139.546 65.5034 139.308 65.5034C139.07 65.5034 138.877 65.3112 138.877 65.0735V62.2815C138.877 62.0437 139.07 61.8516 139.308 61.8516C139.546 61.8516 139.739 62.0437 139.739 62.2815V65.0735ZM129.373 61.3594V89.0979H131.267V65.4826C131.267 65.2449 131.46 65.0527 131.698 65.0527C131.936 65.0527 132.129 65.2449 132.129 65.4826V89.0979H134.175V77.4428C134.175 77.205 134.368 77.0128 134.606 77.0128C134.844 77.0128 135.036 77.205 135.036 77.4428V89.0979H137.1V82.0289C137.1 81.7911 137.293 81.5989 137.531 81.5989C137.769 81.5989 137.962 81.7911 137.962 82.0289V89.0979H139.616C139.981 88.6779 140.457 88.3581 141.001 88.1898V86.961C139.772 86.5807 138.877 85.4357 138.877 84.0855V73.8388C138.877 72.489 139.772 71.3436 141.001 70.9633V69.6984C139.261 70.1035 137.962 71.6589 137.962 73.5135V79.4101C137.962 79.6478 137.769 79.84 137.531 79.84C137.293 79.84 137.1 79.6478 137.1 79.4101V73.5135C137.1 71.1812 138.783 69.236 141.001 68.8182V65.8282C140.764 65.3374 140.628 64.7897 140.628 64.2091V62.2815C140.628 62.064 140.791 61.8922 141.001 61.8633V61.3594H129.373Z"],.noResultsContainer-2I8NLc path[d="M139.74 73.8389V84.0856C139.74 84.9531 140.26 85.6979 141.002 86.0376V84.2304C140.823 84.0229 140.71 83.7559 140.71 83.4608V74.493C140.71 74.198 140.823 73.9313 141.002 73.7238V71.8873C140.26 72.227 139.74 72.9714 139.74 73.8389ZM130.79 29.3618V34.2163H129.929V29.0893C129.728 29.0112 129.539 28.9296 129.374 28.8394V34.2163H128.46C128.47 34.2551 128.479 34.2948 128.479 34.3354H131.627V30.5044C131.627 30.2667 131.819 30.0745 132.058 30.0745C132.296 30.0745 132.488 30.2667 132.488 30.5044V34.3354H133.53V29.7799C132.543 29.7078 131.595 29.5697 130.79 29.3618Z"],.noResultsContainer-2I8NLc path[d="M115.576 60.4571H118.734H121.555C121.556 60.4319 121.562 60.4084 121.562 60.3827C121.562 59.604 120.924 58.9702 120.14 58.9702H114.879V59.7678C114.879 60.1476 115.192 60.4571 115.576 60.4571ZM125.839 58.9703H125.817C125.033 58.9703 124.395 59.6041 124.395 60.3827C124.395 60.4084 124.402 60.4319 124.403 60.4572H125.299C125.298 60.4319 125.292 60.408 125.292 60.3827C125.292 59.8396 125.502 59.3488 125.839 58.9703ZM128.938 58.9703H128.916C129.253 59.3488 129.464 59.8396 129.464 60.3827C129.464 60.408 129.457 60.4319 129.456 60.4572H130.352C130.353 60.4319 130.36 60.4084 130.36 60.3827C130.36 59.6041 129.722 58.9703 128.938 58.9703ZM127.378 58.9778C126.629 59.0179 126.03 59.6296 126.03 60.3825C126.03 60.4078 126.036 60.4322 126.038 60.457H128.718C128.719 60.4322 128.725 60.4078 128.725 60.3825C128.725 59.6296 128.126 59.0179 127.378 58.9778Z"],.noResultsContainer-2I8NLc path[d="M129.833 53.2237C129.629 53.2237 129.464 53.0595 129.464 52.857C129.464 52.654 129.629 52.4902 129.833 52.4902H137.765C137.968 52.4902 138.134 52.654 138.134 52.857C138.134 53.0595 137.968 53.2237 137.765 53.2237H129.833ZM144.727 54.324C144.932 54.324 145.097 54.4882 145.097 54.6908C145.097 54.8938 144.932 55.0575 144.727 55.0575H134.279C134.075 55.0575 133.91 54.8938 133.91 54.6908C133.91 54.4882 134.075 54.324 134.279 54.324H144.727ZM133.897 58.2366C134.101 58.2366 134.266 58.4008 134.266 58.6033C134.266 58.8063 134.101 58.9701 133.897 58.9701H132.559C132.355 58.9701 132.19 58.8063 132.19 58.6033C132.19 58.4008 132.355 58.2366 132.559 58.2366H133.897ZM120.14 58.2366C121.332 58.2366 122.301 59.1997 122.301 60.3826C122.301 60.4083 122.295 60.4317 122.294 60.457H123.664C123.663 60.4317 123.657 60.4083 123.657 60.3826C123.657 59.1997 124.626 58.2366 125.817 58.2366H127.302C127.328 58.2366 127.352 58.2433 127.377 58.2443C127.403 58.2433 127.427 58.2366 127.453 58.2366H128.938C130.129 58.2366 131.098 59.1997 131.098 60.3826C131.098 60.4083 131.092 60.4317 131.091 60.457H135.439C136.431 59.986 137.521 59.7293 138.654 59.7293H146.043H146.395H150.753L154.815 57.1363H121.953C121.749 57.1363 121.583 56.9721 121.583 56.7695C121.583 56.567 121.749 56.4028 121.953 56.4028H155.965L156.037 56.3559C156.24 56.2264 156.356 56.0153 156.356 55.7771C156.356 55.538 156.24 55.3273 156.037 55.1974L152.945 53.2237H140.843C140.639 53.2237 140.474 53.0595 140.474 52.857C140.474 52.654 140.639 52.4902 140.843 52.4902H151.795L149.784 51.2068C149.672 51.135 149.541 51.0967 149.407 51.0967H118.734H115.576C115.192 51.0967 114.879 51.4061 114.879 51.786V52.4902H127.299C127.503 52.4902 127.668 52.654 127.668 52.857C127.668 53.0595 127.503 53.2237 127.299 53.2237H114.879V54.324H130.342C130.547 54.324 130.712 54.4882 130.712 54.6908C130.712 54.8938 130.547 55.0575 130.342 55.0575H114.879V56.4028H119.346C119.55 56.4028 119.715 56.567 119.715 56.7695C119.715 56.9721 119.55 57.1363 119.346 57.1363H114.879V58.2366H120.14Z"] {
    fill: rgb(231, 170, 108);
}

.noResultsContainer-2I8NLc path[d="M71.1924 23.3472C71.4373 23.3946 71.5978 23.6305 71.5508 23.875C71.5096 24.0911 71.3203 24.2414 71.1079 24.2414C71.0799 24.2414 71.0514 24.2391 71.0234 24.2337C70.8801 24.2066 68.1917 23.6612 66.2064 21.3682C65.975 21.951 65.9669 22.4775 66.1843 22.9773C66.506 23.7153 67.3597 24.397 68.5261 24.8477C70.5114 25.6141 72.5947 25.7359 74.3924 25.1896C74.0232 24.8463 73.6092 24.3451 73.4325 24.1313L73.3783 24.0659C73.0493 23.672 72.7565 23.2647 72.4736 22.8704C71.8088 21.9438 71.1802 21.0686 70.1724 20.4948C69.5741 20.1542 68.912 19.9751 68.3069 19.9751C68.0087 19.9751 67.7244 20.0184 67.4686 20.1077C67.1785 20.2088 66.9277 20.364 66.7184 20.571C68.5288 22.8068 71.1599 23.3409 71.1924 23.3472Z"],.noResultsContainer-2I8NLc path[d="M29.4622 71.9652C30.8821 72.3365 32.4082 71.782 33.2565 70.5848L36.6296 65.8268C36.7358 65.6766 36.6847 65.5318 36.658 65.4767C36.6309 65.4217 36.5487 65.2927 36.3647 65.2836H36.3643L30.5314 65.0026C30.4754 64.9999 30.4189 64.9985 30.3629 64.9985C28.9597 64.9985 27.6649 65.8403 27.1045 67.1346C26.6938 68.0838 26.7182 69.161 27.1719 70.0908C27.6256 71.0201 28.4603 71.7031 29.4622 71.9652Z"],.noResultsContainer-2I8NLc path[d="M29.4622 71.9652C30.8821 72.3365 32.4082 71.782 33.2565 70.5848L36.6296 65.8268C36.7358 65.6766 36.6847 65.5318 36.658 65.4767C36.6309 65.4217 36.5487 65.2927 36.3647 65.2836H36.3643L30.5314 65.0026C30.4754 64.9999 30.4189 64.9985 30.3629 64.9985C28.9597 64.9985 27.6649 65.8403 27.1045 67.1346C26.6938 68.0838 26.7182 69.161 27.1719 70.0908C27.6256 71.0201 28.4603 71.7031 29.4622 71.9652Z"] {
    fill: rgb(37, 175, 73);
}

.noResultsContainer-2I8NLc path[d="M15.8539 89.0976H21.6891L18.7715 76.8564L15.8539 89.0976Z"] {
    fill: rgb(174, 185, 207);
}

.noResultsContainer-2I8NLc path[d="M43.6508 50.158C46.252 47.5614 47.0794 38.2349 47.2457 35.9468C44.9532 36.1123 35.6103 36.9383 33.009 39.535C31.5082 41.0327 30.707 43.1318 30.8191 45.2466C30.8995 46.7552 31.3605 49.0045 32.4035 50.1558C33.6083 51.4848 36.5534 52.3581 38.3299 52.3581C40.3396 52.3581 42.2295 51.5768 43.6508 50.158Z"],.noResultsContainer-2I8NLc path[d="M97.3711 8.98776C97.9392 9.3658 98.5574 9.42625 99.2583 9.17182C98.2451 8.24025 97.5993 7.17876 97.1994 6.30855C97.095 6.08209 97.1944 5.81412 97.4213 5.70991C97.6477 5.6057 97.9161 5.70495 98.0205 5.93187C98.4065 6.7705 99.0541 7.80357 100.079 8.67874C100.29 8.47664 100.452 8.23349 100.561 7.94883C100.854 7.18373 100.736 6.1457 100.253 5.23939C99.708 4.21625 98.8498 3.56393 97.9414 2.87236C97.5555 2.57868 97.156 2.27507 96.7714 1.93493L96.7063 1.87809C96.4976 1.69538 96.0081 1.26772 95.6371 0.895996C95.0758 2.66755 95.1359 4.74993 95.8459 6.75381C95.9272 6.98388 95.8088 7.2329 95.5833 7.32177C95.8708 7.9971 96.2666 8.63047 96.7714 9.08566C96.9165 8.90476 97.1741 8.85648 97.3711 8.98776Z"],.noResultsContainer-2I8NLc path[d="M168.797 65.871C170.028 63.8681 171.499 61.9932 173.206 60.2893L173.845 60.9272C172.125 62.6437 170.647 64.5371 169.426 66.5658C172.365 69.4331 177.09 69.4155 180.003 66.5076C182.606 63.91 183.432 54.584 183.598 52.2959C181.307 52.4615 171.963 53.2875 169.362 55.8846C166.631 58.6102 166.445 62.9248 168.797 65.871Z"] {
    fill: rgb(70, 150, 91);
}

[src*="/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/016a7d812fd4854aa4b7a5b9c539b48d.svg")
}

[src*="/assets/070f1b98adc8ce07c7823021133efed5.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/070f1b98adc8ce07c7823021133efed5.svg")
}

[src*="/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/0a14344c0e0bfe3a52aa245ecaaebca7.svg")
}

[src*="/assets/0b396e6928f366dc5714e92e47d6bf8a.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/0b396e6928f366dc5714e92e47d6bf8a.svg")
}

[src*="/assets/157ccfe93c91db60adddd48a75b69205.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/157ccfe93c91db60adddd48a75b69205.svg")
}

[src*="/assets/1b16169ee6f3b942ef7cc96718144bfa.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/1b16169ee6f3b942ef7cc96718144bfa.svg")
}

[src*="/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/325421cb49d6e0717b8c7b9dfa2d4bdc.svg")
}

[src*="/assets/35827c42a3af54bd169cff0a866eb428.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/35827c42a3af54bd169cff0a866eb428.svg")
}

[src*="/assets/39a7fb525b2593689d328ad7367ee4b5.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/39a7fb525b2593689d328ad7367ee4b5.svg")
}

[src*="/assets/3fba9b3d08682f3ce0344e289fe668cb.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3fba9b3d08682f3ce0344e289fe668cb.svg")
}

[src*="/assets/4275f4f043390fa1db37efe36e7a79aa.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4275f4f043390fa1db37efe36e7a79aa.svg")
}

[src*="/assets/42ece057e516ea23d9fdf4f20552cd65.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/42ece057e516ea23d9fdf4f20552cd65 (1).svg")
}

[src*="/assets/46f302822fa43628962d28f50bb33b01v.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/46f302822fa43628962d28f50bb33b01v.svg")
}

[src*="/assets/487594776f6ebfe57e3ac89d6b3fe437.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/487594776f6ebfe57e3ac89d6b3fe437.svg")
}

[src*="/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/4d96b1cfd8285531dda8fcbe5f41c86e.svg")
}

[src*="/assets/515d0236bce3ba834026209dc78489f0.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/515d0236bce3ba834026209dc78489f0.svg")
}

[src*="/assets/545be34456b41a8695d986221389ea00.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/545be34456b41a8695d986221389ea00.svg")
}

[src*="/assets/5a6c298c68b5963581a107d420352d07.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5a6c298c68b5963581a107d420352d07.svg")
}

[src*="/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/5e4c2460f3706ab8ebabe787fb2e3bc6.svg")
}

[src*="/assets/63e3655bb034980e94b75c68c0317df1.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/63e3655bb034980e94b75c68c0317df1 (1).svg")
}

[src*="/assets/68d65136961706bf6dc2b10a9d997d8a.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/68d65136961706bf6dc2b10a9d997d8a.svg")
}

[src*="/assets/691cf187cd943ed81f043740606878e7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/691cf187cd943ed81f043740606878e7.svg")
}

[src*="/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7252adb1cdb9603a49ce1bab7c3c41e7.svg")
}

[src*="/assets/750214196f39660492a313dbe5c84fe4.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/750214196f39660492a313dbe5c84fe4.svg")
}

[src*="/assets/7b3a37fa249a857b0ff136db0a73f44c.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7b3a37fa249a857b0ff136db0a73f44c.svg")
}

[src*="/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/7d94f3993be7043f4b9131b10ca5c7d9.svg")
}

[src*="/assets/87f8416faec0691b96525d0bb3027809.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/87f8416faec0691b96525d0bb3027809.svg")
}

[src*="/assets/894e2832a1bed82af291dba37fc0e3b7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/894e2832a1bed82af291dba37fc0e3b7.svg")
}

[src*="/assets/943a260f0eaaad05497e992feac2a8a5.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/943a260f0eaaad05497e992feac2a8a5.svg")
}

[src*="/assets/989028f8e966f89ea2b1c603173427b7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/989028f8e966f89ea2b1c603173427b7.svg")
}

[src*="/assets/a532e755c36b75762a75ff0794456efb.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/a532e755c36b75762a75ff0794456efb.svg")
}

[src*="/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg")
}

[src*="/assets/b9bbacdfa6594ded675e220061d8831d.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b9bbacdfa6594ded675e220061d8831d.svg")
}

[src*="/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c1ebd9af7ce0a639af9d99b4980bda13.svg")
}

[src*="/assets/c58f8117594459cb951df70b45b2e04e.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c58f8117594459cb951df70b45b2e04e.svg")
}

[src*="/assets/ca6fb00528c12821b9a591fff33ec73c.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ca6fb00528c12821b9a591fff33ec73c.svg")
}

[src*="/assets/ccd6653e4b9cedf670a9cb04cf266668.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/ccd6653e4b9cedf670a9cb04cf266668.svg")
}

[src*="/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d6dd0062aa55ff9373dc966f0571c1b2.svg")
}

[src*="/assets/d8a03b9985d824edc78c6eb4785dc949.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d8a03b9985d824edc78c6eb4785dc949.svg")
}

[src*="/assets/d9d8b80b17879975b06c729c6a6ca57d.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d9d8b80b17879975b06c729c6a6ca57d.svg")
}

[src*="/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg")
}

[src*="/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e7a1cdf5f9eb5be41421c2091dba50d7.svg")
}

[src*="/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/e83eaad3ae5c32a355b55f157e6cd3da.svg")
}

[src*="/assets/f0fd53980da8cde41a97db3cf20de65d.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f0fd53980da8cde41a97db3cf20de65d.svg")
}

[src*="/assets/f203f5736b9aa0178751342dcc73548a.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f203f5736b9aa0178751342dcc73548a.svg")
}

[src*="/assets/f51e2ec5e2518261739e4b16205c6c4c.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f51e2ec5e2518261739e4b16205c6c4c.svg")
}

[src*="/assets/f7d5aea57245d82c2f7c19073fe660e7.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/f7d5aea57245d82c2f7c19073fe660e7.svg")
}

[src*="/assets/fda43f574092d89177a4412046f51c44.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/fda43f574092d89177a4412046f51c44.svg")
}

[src*="/assets/3255f24f5123fd8769d97157e48cb796.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/3255f24f5123fd8769d97157e48cb796.svg")
}

[src*="/assets/2366391afb15ed6c2a019a0c0caa0797.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/2366391afb15ed6c2a019a0c0caa0797.svg")
}

[style*='background-image: url("/assets/c8234fe5675a618e7891b634d32d1c0f.svg");'] {
    background-image: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/c8234fe5675a618e7891b634d32d1c0f.svg")!important;
}

[src*="/assets/d759f3acc6286c964cc8118d7f68b374.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/d759f3acc6286c964cc8118d7f68b374.svg")
}

[src*="/assets/b73bec0c640af1aa8f016434a8238db0.svg"] {
    content: url("https://veivvovii.github.io/Nocturnal-discord-theme/nocturnal/importCSS/Discolored/assets/b73bec0c640af1aa8f016434a8238db0.svg")
}
